<div style="margin-left: 40px">
    <form dForm [layout]="layoutDirection" [labelSize]="'sm'">
        <!-- 
        TODO: - Location -- map or lat long input
        -->

        <d-form-item>
            <d-form-label>Vehicle</d-form-label>
            <d-cascader [options]="vehicleOptions" [placeholder]="'Please select, or type to search'"
                [(ngModel)]="value1" (ngModelChange)="onChanges($event)" [trigger]="'click'" [width]="300"
                [dropdownWidth]="200" [allowClear]="true" [allowSearch]="true">
            </d-cascader>
        </d-form-item>

        <d-form-item>
            <d-form-label>Spotting Date</d-form-label>
            <input class="devui-input devui-form-control" placeholder="y/MM/dd" (click)="datePicker1.toggle()" name="dp"
                [(ngModel)]="selectedDate1" autocomplete="off" dDatepicker #datePicker1="datepicker" locale="en-us" />
            <div *ngIf=" selectedDate1" class="devui-input-group-addon close-icon-wrapper"
                (click)="datePicker1.clearAll()">
                <i class="icon icon-close"></i>
            </div>
            <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                <i class="icon icon-calendar"></i>
            </div>
        </d-form-item>

        <d-form-item>
            <d-form-label>Status</d-form-label>
            <d-select [options]="statusOptions" [isSearch]="true" [filterKey]="'name'" [(ngModel)]="currentOption4"
                [placeholder]="'Status'"></d-select>
        </d-form-item>

        <d-form-item>
            <d-form-label>Type</d-form-label>
            <d-select [options]="typeOptions" [isSearch]="true" [filterKey]="'name'" [(ngModel)]="currentOption4"
                [placeholder]="'Type'"></d-select>
        </d-form-item>

        <d-form-item>
            <d-form-label>Origin Station</d-form-label>
            <d-cascader [options]="stationOptions" [placeholder]="'Please select, or type to search'"
                [(ngModel)]="value1" (ngModelChange)="onChanges($event)" [trigger]="'click'" [width]="300"
                [dropdownWidth]="300" [allowClear]="true" [allowSearch]="true">
            </d-cascader>
        </d-form-item>

        <d-form-item>
            <d-form-label>Destination Station</d-form-label>
            <d-cascader [options]="stationOptions" [placeholder]="'Please select, or type to search'"
                [(ngModel)]="value1" (ngModelChange)="onChanges($event)" [trigger]="'click'" [width]="300"
                [dropdownWidth]="300" [allowClear]="true" [allowSearch]="true">
            </d-cascader>
        </d-form-item>

        <d-form-item>
            <d-form-label>Notes</d-form-label>
            <textarea dTextarea placeholder="Please Enter" resize="both"></textarea>
        </d-form-item>

        <d-form-operation>
            <d-button bsStyle="primary" class="mr-element-spacing" circled="true" style="margin-right: 4px">Submit
            </d-button>
            <d-button bsStyle="common" circled="true">Cancel</d-button>
        </d-form-operation>
    </form>

</div>