<h3>Historical Spotting Entries</h3>
<nz-spin [nzSpinning]="loading">
    <nz-table
        #tableWrapper
        [nzData]="tableRows"
        [nzShowPagination]="false"
        [nzFrontPagination]="false"
        [nzScroll]="{ x: '900px', y: '30vh' }"
        nzTableLayout="fixed"
    >
        <thead>
            <tr>
                @for (
                    colOption of dataTableOptions.columns;
                    track colOption.header
                ) {
                    <th [nzWidth]="widthFor(colOption.field)">
                        {{ colOption.header }}
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (rowItem of tableWrapper.data; track rowItem) {
                <tr>
                    @for (
                        colOption of dataTableOptions.columns;
                        track colOption
                    ) {
                        <td>
                            @switch (colOption.fieldType) {
                                @case ("status") {
                                    <vehicle-status-tag
                                        [vehicleStatus]="
                                            rowItem[colOption.field]
                                        "
                                    ></vehicle-status-tag>
                                    @if (rowItem["runNumber"]) {
                                        <span
                                            nz-tooltip
                                            [nzTooltipTitle]="'Run Number'"
                                            [nzTooltipTrigger]="'hover'"
                                            [nzTooltipPlacement]="'right'"
                                        >
                                            🏃‍♂️ {{ rowItem["runNumber"] }} <br />
                                        </span>
                                    }
                                    @if (rowItem["wheelStatus"]) {
                                        <span
                                            nz-tooltip
                                            [nzTooltipTitle]="'Wheel Status'"
                                            [nzTooltipTrigger]="'hover'"
                                            [nzTooltipPlacement]="'right'"
                                        >
                                            🛞:
                                            {{
                                                rowItem["wheelStatus"].replace(
                                                    "_",
                                                    " "
                                                ) | titlecase
                                            }}<br />
                                        </span>
                                    }
                                }
                                @case ("type") {
                                    <spotting-type-cell-display
                                        [rowItem]="rowItem"
                                        [spottingType]="
                                            rowItem[colOption.field]
                                        "
                                    >
                                    </spotting-type-cell-display>
                                }
                                @case ("notes") {
                                    @if (
                                        rowItem["mediaCount"] > 0 ||
                                        rowItem["isMine"]
                                    ) {
                                        <span class="picture-icon">
                                            <ui-spotting-image-preview-button
                                                [count]="rowItem['mediaCount']"
                                                [eventId]="rowItem['id']"
                                                [isMine]="rowItem['isMine']"
                                            >
                                            </ui-spotting-image-preview-button>
                                        </span>
                                    }
                                    {{ rowItem[colOption.field] }}
                                }
                                @default {
                                    <span>{{ rowItem[colOption.field] }}</span>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </nz-table>
</nz-spin>
