<h3>Last 5 Spotting Entries</h3>
<d-data-table
    [dataSource]="dataSource"
    [scrollable]="true"
    [tableOverflowType]="'overlay'"
    [tableWidthConfig]="tableWidthConfig"
>
    <thead dTableHead>
        <tr dTableRow>
            <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">
                {{ colOption.header }}
            </th>
        </tr>
    </thead>
    <tbody dTableBody>
        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
            <tr dTableRow>
                <td
                    dTableCell
                    *ngFor="let colOption of dataTableOptions.columns"
                >
                    <span [ngSwitch]="colOption.fieldType">
                        <span *ngSwitchCase="'status'">
                            <span [ngSwitch]="rowItem[colOption.field]">
                                <d-tag
                                    *ngSwitchCase="'IN_SERVICE'"
                                    [tag]="
                                        rowItem[colOption.field]
                                            | vehicleStatusPipe
                                    "
                                    [labelStyle]="'green-w98'"
                                >
                                </d-tag>
                                <d-tag
                                    *ngSwitchCase="'NOT_SPOTTED'"
                                    [tag]="
                                        rowItem[colOption.field]
                                            | vehicleStatusPipe
                                    "
                                    [labelStyle]="'yellow-w98'"
                                >
                                </d-tag>
                                <d-tag
                                    *ngSwitchCase="'TESTING'"
                                    [tag]="
                                        rowItem[colOption.field]
                                            | vehicleStatusPipe
                                    "
                                    [labelStyle]="'blue-w98'"
                                >
                                </d-tag>
                                <d-tag
                                    *ngSwitchCase="'UNKNOWN'"
                                    [tag]="
                                        rowItem[colOption.field]
                                            | vehicleStatusPipe
                                    "
                                    [labelStyle]="'red-w98'"
                                >
                                </d-tag>
                                <d-tag
                                    *ngSwitchDefault
                                    [tag]="
                                        rowItem[colOption.field]
                                            | vehicleStatusPipe
                                    "
                                >
                                </d-tag>
                            </span> </span
                        ><span *ngSwitchCase="'type'">
                            {{ rowItem[colOption.field] | spottingType }}
                        </span>
                        <span *ngSwitchDefault>{{
                            rowItem[colOption.field]
                        }}</span>
                    </span>
                </td>
            </tr>
        </ng-template>
    </tbody>
</d-data-table>
