<h3>Historical Spotting Entries</h3>
<d-data-table
    [dataSource]="dataSource"
    [scrollable]="true"
    [tableOverflowType]="'overlay'"
    [tableWidthConfig]="tableWidthConfig"
    [lazy]="true"
    (loadMore)="loadMore($event)"
    [virtualScroll]="true"
    [containFixHeaderHeight]="true"
    [fixHeader]="true"
    tableHeight="30vh"
    dLoading
    [loading]="loading"
    [backdrop]="true"
>
    <thead dTableHead>
        <tr dTableRow>
            <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">
                {{ colOption.header }}
            </th>
        </tr>
    </thead>
    <tbody dTableBody>
        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
            <tr dTableRow>
                <td
                    dTableCell
                    *ngFor="let colOption of dataTableOptions.columns"
                >
                    <span [ngSwitch]="colOption.fieldType">
                        <span *ngSwitchCase="'status'">
                            <vehicle-status-tag
                                [vehicleStatus]="rowItem[colOption.field]"
                            ></vehicle-status-tag>
                            <span
                                *ngIf="rowItem['runNumber']"
                                nz-tooltip
                                [nzTooltipTitle]="'Run Number'"
                                [nzTooltipTrigger]="'hover'"
                                [nzTooltipPlacement]="'right'"
                            >
                                🏃‍♂️ {{ rowItem["runNumber"] }}
                            </span>
                        </span>
                        <span *ngSwitchCase="'type'">
                            <spotting-type-cell-display
                                [rowItem]="rowItem"
                                [spottingType]="rowItem[colOption.field]"
                            >
                            </spotting-type-cell-display>
                        </span>
                        <span *ngSwitchDefault>{{
                            rowItem[colOption.field]
                        }}</span>
                    </span>
                </td>
            </tr>
        </ng-template>
    </tbody>
</d-data-table>
