<!--
    This component is wholy inspired & referenced from
    https://github.com/xieranmaya/blog/issues/6
-->
<div
    #gridContainer
    class="main-container {{ fillLastRow ? 'fill-last-row' : '' }}"
>
    <nz-image-group
        inViewport
        [inViewportOptions]="{ rootMargin: '200px 0px' }"
        (inViewportAction)="onIntersection($event)"
        *ngFor="let img of images; let i = index"
        [ngStyle]="{
            width: (img.width * ratioBaseline) / img.height + 'px',
            'flex-grow': (img.width * ratioBaseline) / img.height
        }"
        class="child-container"
        [id]="i"
    >
        <nz-spin class="content spinner" nzSimple *ngIf="loading"></nz-spin>
        <div
            [ngStyle]="{
                'padding-bottom':
                    (img.height / img.width) * (ratioBaseline / 2) + '%'
            }"
        ></div>
        <img
            class="content"
            *ngIf="displayImage[i] ?? true"
            [src]="getUrl(i)"
            onerror="this.onerror=null; this.src='./assets/image-not-found.png'"
            alt=""
            [attr.data-index]="i"
            (click)="onViewImage(i)"
            (load)="markLoaded()"
        />
    </nz-image-group>
</div>
