@import "ng-devui/styles-var/devui-var.scss";

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.main-container::after {
    content: "";
    flex-grow: 1e4;
}

.fill-last-row::after {
    min-width: 20%;
}

.child-container {
    margin: 2px;
    position: relative;
    flex-grow: 1;
}

.content {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.spinner {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

nz-image-group:hover {
    box-shadow: $devui-shadow-length-connected-overlay $devui-shadow;
    transform: scale(1.05);
    z-index: 1;
}
