<div class="main-wrapper">
    <div class="section">
        <h1>About the project</h1>
        {{ ($items | async)?.aboutProject }}
    </div>

    <div class="section">
        <h1>About the team</h1>
        <div class="wrapper">
            <div *ngFor="let item of ($items | async)?.personnel">
                <app-avatar-card [data]="item"></app-avatar-card>
            </div>
        </div>
    </div>

    <div class="section">
        <h1>Special Mentions</h1>
    </div>

    <div class="section">
        <h1>Tech Stacks & Open Souce</h1>
    </div>
</div>
