@import "ng-devui/styles-var/devui-var.scss";

h1 {
    font-size: $devui-font-size-price;

    .build-status {
        margin-bottom: -3px;
        margin-left: 10px;
    }
}

.main-wrapper {
    padding-left: 50px;
    padding-right: 50px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        position: relative;
        left: -20px;
    }
}
