<div dLoading class="main-wrapper" [showLoading]="showLoading">
    <div class="section">
        <h1>
            About the project
            <a
                href="https://kwongtn.semaphoreci.com/projects/lift-rosak-backend"
            >
                <img
                    class="build-status"
                    [src]="
                        'https://kwongtn.semaphoreci.com/badges/lift-rosak-backend/branches/' +
                        branchName +
                        '.svg?key=' +
                        semaphoreBadgeKey
                    "
                    alt="Backend Build Status"
                />
            </a>
            <a
                href="https://github.com/kwongtn/rosak_firebase/actions/workflows/firebase-hosting-merge.yml"
            >
                <img
                    class="build-status"
                    [src]="
                        'https://github.com/kwongtn/rosak_firebase/actions/workflows/firebase-hosting-merge.yml/badge.svg?branch=' +
                        branchName
                    "
                    alt="Frontend Build Status"
                />
            </a>
        </h1>
        {{ ($items | async)?.aboutProject }}
        <div class="wrapper">
            <div *ngFor="let item of ($items | async)?.projects">
                <app-projects-card
                    [data]="item"
                    *ngIf="item.display"
                ></app-projects-card>
            </div>
        </div>
    </div>

    <div class="section">
        <h1>About the team</h1>
        <div class="wrapper">
            <div *ngFor="let item of personnel">
                <app-avatar-card
                    [data]="item"
                    *ngIf="item.display"
                ></app-avatar-card>
            </div>
        </div>
    </div>

    <!-- <div class="section">
        <h1>Special Mentions</h1>
    </div> -->

    <div class="section">
        <h1>Tech Stacks & Open Souce</h1>
        <div class="wrapper">
            <div *ngFor="let item of ($items | async)?.techStacks">
                <app-techstack-card [data]="item"></app-techstack-card>
            </div>
        </div>
    </div>
</div>
