<div nz-row nzJustify="end" [class]="'row-class ' + env.sentry.environment">
    <div nz-col nzSpan="8" class="info-panel">
        <nz-collapse [nzBordered]="false">
            @for (
                panel of panelSelectionService.panels | keyvalue;
                track panel
            ) {
                @if (panel.value.checkBoxes.length > 0) {
                    <nz-collapse-panel
                        [nzHeader]="panel.value.name"
                        [nzActive]="panel.value.active"
                        [nzDisabled]="panel.value.disabled"
                    >
                        @switch (panel.key) {
                            @case ("rtLayer") {
                                <nz-list nzItemLayout="horizontal">
                                    @for (
                                        checkbox of panel.value.checkBoxes;
                                        track checkbox;
                                        let i = $index
                                    ) {
                                        <nz-list-item>
                                            <nz-list-item-meta>
                                                <nz-list-item-meta-title>
                                                    {{ checkbox.label }}
                                                </nz-list-item-meta-title>
                                                <nz-list-item-meta-avatar>
                                                    <label
                                                        nz-checkbox
                                                        [nzChecked]="
                                                            checkbox.checked
                                                        "
                                                        (nzCheckedChange)="
                                                            updateChecked(
                                                                panel.key,
                                                                i
                                                            )
                                                        "
                                                    ></label>
                                                </nz-list-item-meta-avatar>
                                            </nz-list-item-meta>
                                            <ul nz-list-item-actions>
                                                @if (
                                                    gtfsStateService.sources[
                                                        checkbox.value
                                                    ] &&
                                                    gtfsStateService.sources[
                                                        checkbox.value
                                                    ].isLoading
                                                ) {
                                                    <nz-list-item-action>
                                                        <nz-spin
                                                            nzSimple
                                                            nzSize="small"
                                                        />
                                                    </nz-list-item-action>
                                                }
                                                <nz-list-item-action>
                                                    <a [href]="checkbox.source">
                                                        <span
                                                            nz-icon
                                                            nzType="info-circle"
                                                            nzTheme="outline"
                                                        ></span>
                                                    </a>
                                                </nz-list-item-action>
                                            </ul>
                                        </nz-list-item>
                                    }
                                </nz-list>
                            }
                            @default {
                                <p>Layer not implemented yet. 🥲</p>
                                <p>
                                    Maybe buy Kwong a coffee so he can code
                                    faster? 😉
                                </p>
                            }
                        }
                    </nz-collapse-panel>
                }
            }
        </nz-collapse>
        @if (hasUnsavedChanges) {
            <nz-card [nzBorderless]="true">
                <div nz-flex [nzGap]="'small'" class="button-area">
                    <button
                        nz-button
                        nzType="primary"
                        [nzLoading]="applyLoading"
                        (click)="onApply($event)"
                    >
                        Apply
                    </button>
                    <!-- <button nz-button nzType="default">Cancel</button> -->
                </div>
            </nz-card>
        }
    </div>
</div>
