.content {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.spinner {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    position: relative;
}
