@if (loading) {
    <nz-spin class="content spinner" nzSimple />
}

<!-- <div
    inViewport
    [inViewportOptions]="{ rootMargin: '200px 0px' }"
    (inViewportAction)="onIntersection($event)"
    *ngFor="let imgDate of imageDateMaps | keyvalue : compareFn"
    [id]="imgDate.key"
    class="date-image-container"
>
    @if (imgDate.value.displayImages) {
        <image-grid [images]="imgDate.value.images" />

    } @else {
        <div
            [ngStyle]="{
                height: (imgDate.value.images.length / 3) * 200 + 'px'
            }"
        ></div>
    }
</div> -->

@if (!loading) {
    <div>
        @if (imageUrls.length !== 0) {
            <image-grid [images]="imageUrls" />
        } @else {
            <nz-empty nzNotFoundContent="No images. Add some?" />
        }
    </div>
}
<div>
    <h1>Add Images</h1>
    <spotting-form-upload
        (newImageEvent)="onImageChange($event)"
    ></spotting-form-upload>
</div>
