@if (wheelStatus) {
    @switch (wheelStatus) {
        @case ("FRESH") {
            <nz-tag [nzColor]="'green'">{{
                wheelStatus.replace("_", " ") | titlecase
            }}</nz-tag>
        }
        @case ("NEAR_PERFECT") {
            <nz-tag [nzColor]="'green'">{{
                wheelStatus.replace("_", " ") | titlecase
            }}</nz-tag>
        }
        @case ("FLAT") {
            <nz-tag [nzColor]="'yellow'">{{
                wheelStatus.replace("_", " ") | titlecase
            }}</nz-tag>
        }
        @case ("WORN_OUT") {
            <nz-tag [nzColor]="'red'">{{
                wheelStatus.replace("_", " ") | titlecase
            }}</nz-tag>
        }
        @case ("WORRYING") {
            <nz-tag [nzColor]="'red'">{{
                wheelStatus.replace("_", " ") | titlecase
            }}</nz-tag>
        }
        @default {
            <nz-tag [nzColor]="'var(--devui-text-weak)'">{{
                wheelStatus.replace("_", " ") | titlecase
            }}</nz-tag>
        }
    }
}
