@if (wheelStatus) {
    @switch (wheelStatus) {
        @case ("FRESH") {
            <d-tag
                [tag]="wheelStatus.replace('_', ' ') | titlecase"
                [labelStyle]="'green-w98'"
            />
        }
        @case ("NEAR_PERFECT") {
            <d-tag
                [tag]="wheelStatus.replace('_', ' ') | titlecase"
                [labelStyle]="'green-w98'"
            />
        }
        @case ("FLAT") {
            <d-tag
                [tag]="wheelStatus.replace('_', ' ') | titlecase"
                [labelStyle]="'yellow-w98'"
            />
        }
        @case ("WORN_OUT") {
            <d-tag
                [tag]="wheelStatus.replace('_', ' ') | titlecase"
                [labelStyle]="'red-w98'"
            />
        }
        @case ("WORRYING") {
            <d-tag
                [tag]="wheelStatus.replace('_', ' ') | titlecase"
                [labelStyle]="'red-w98'"
            />
        }
        @default {
            <d-tag
                [tag]="wheelStatus.replace('_', ' ') | titlecase"
                [customColor]="'var(--devui-text-weak)'"
            />
        }
    }
}
