@import "ng-devui/styles-var/devui-var.scss";

.form-area {
    padding: 20px 0px;
}

.ant-advanced-search-form {
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    background: $devui-form-control-bg;
    border: 1px solid $devui-form-control-line;
    border-radius: 6px;
}

.slider {
    padding-bottom: 25px;
}

.subsequent-button {
    margin-left: 8px;
}
