<nz-spin [nzSpinning]="loading['results']" class="form-area">
    <div class="ant-advanced-search-form">
        <form nz-form [formGroup]="formGroup">
            <nz-form-item>
                <nz-form-label [nzSpan]="2">Bus No. </nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <nz-select
                        nzShowSearch
                        formControlName="busId"
                        [nzLoading]="loading['busNo']"
                        [nzStatus]="getStatus('busId')"
                        (ngModelChange)="onFormValueChange()"
                    >
                        <nz-option
                            *ngFor="let bus of busList"
                            [nzValue]="bus['value']"
                            [nzLabel]="bus['label']"
                        ></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="2">Date range </nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <nz-range-picker
                        [nzShowTime]="true"
                        [nzAllowClear]="false"
                        formControlName="dateRange"
                        [nzStatus]="getStatus('dateRange')"
                        (nzOnOpenChange)="onFormValueChange()"
                    ></nz-range-picker>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control
                    [nzSpan]="8"
                    [nzOffset]="2"
                    class="search-area"
                >
                    <button
                        nz-button
                        nzType="primary"
                        (click)="onClickCount()"
                        [nzLoading]="loading['count']"
                    >
                        {{
                            estimatedCount < 0
                                ? "Estimate count"
                                : "Estimated total: " + estimatedCount + " rows"
                        }}
                    </button>

                    <button
                        nz-button
                        nzType="primary"
                        nz-popconfirm
                        nzPopconfirmTitle="You have not estimated row count. Continue searching?"
                        [nzCondition]="haveEstimated"
                        (nzOnConfirm)="onClickSearch()"
                        class="subsequent-button"
                    >
                        Search
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>

        <nz-slider
            *ngIf="!loading['results'] && sliderLength && formSubmitted"
            [nzIncluded]="false"
            [nzMarks]="marks"
            [(ngModel)]="sliderValue"
            (ngModelChange)="onSliderChange($event)"
            [nzTipFormatter]="sliderDataformatter"
            [nzMax]="sliderLength - 1"
        ></nz-slider>
    </div>
</nz-spin>

<div
    style="min-height: 90vh; justify-content: center; position: relative"
    id="map"
></div>
