<div class="components">
    <nz-card
        class="list"
        [nzTitle]="data.name"
        [nzSize]="'default'"
        [nzExtra]="extraTemplate"
    >
        <nz-card-meta></nz-card-meta>
        <p>{{ data.description }}</p>
    </nz-card>
</div>

<ng-template #extraTemplate>
    <span [ngSwitch]="data.status">
        <nz-tag [nzColor]="'volcano'" *ngSwitchCase="'alpha'">Alpha</nz-tag>
        <nz-tag [nzColor]="'gold'" *ngSwitchCase="'beta'">Beta</nz-tag>
        <nz-tag [nzColor]="'blue'" *ngSwitchCase="'stable'">Stable</nz-tag>
        <nz-tag [nzColor]="'lime'" *ngSwitchDefault>Planned</nz-tag>
    </span>
</ng-template>
