<div class="components">
    <nz-card
        class="list"
        [nzTitle]="data.name"
        [nzSize]="'default'"
        [nzExtra]="extraTemplate"
    >
        <nz-card-meta></nz-card-meta>
        <p>{{ data.description }}</p>
    </nz-card>
</div>

<ng-template #extraTemplate>
    @switch (data.status) {
        @case ("alpha") {
            <nz-tag [nzColor]="'volcano'">Alpha</nz-tag>
        }
        @case ("beta") {
            <nz-tag [nzColor]="'gold'">Beta</nz-tag>
        }
        @case ("stable") {
            <nz-tag [nzColor]="'blue'">Stable</nz-tag>
        }
        @default {
            <nz-tag [nzColor]="'lime'">Planned</nz-tag>
        }
    }
</ng-template>
