<nz-spin [nzSpinning]="showLoading">
    <nz-calendar
        [(ngModel)]="selectedDate"
        (nzSelectChange)="selectChange($event)"
        (nzPanelChange)="panelChange($event)"
    >
        <ul *nzDateCell="let date" class="events">
            <ng-container [ngSwitch]="date | date : 'yyyy-MM-dd'">
                <ng-container *ngSwitchCase="date | date : 'yyyy-MM-dd'">
                    <nz-badge
                        class="count-badge"
                        nzStandalone
                        *ngFor="
                            let item of monthEvents[
                                (date | date : 'yyyy-MM-dd') ?? ''
                            ] | keyvalue
                        "
                        [nzCount]="item.value"
                        [nzStyle]="{
                            backgroundColor:
                                (item.key
                                | uppercase
                                | calendarIncidentSeverity : 'color')
                        }"
                    ></nz-badge>

                    <!-- <li
                        *ngFor="
                            let item of monthEvents[
                                (date | date : 'yyyy-MM-dd') ?? ''
                            ] | keyvalue
                        "
                    >
                        <nz-badge
                            [nzStatus]="
                                item.key | uppercase | calendarIncidentSeverity
                            "
                            [nzText]="
                                item.value.toString() + ' ' + item.key
                                    | titlecase
                            "
                        ></nz-badge>
                    </li> -->
                </ng-container>
            </ng-container>
        </ul>

        <ng-container *nzMonthCell="let month" class="events">
            <ng-container [ngSwitch]="month | date : 'yyyy-MM'">
                <ng-container *ngSwitchCase="month | date : 'yyyy-MM'">
                    <nz-badge
                        class="count-badge"
                        nzStandalone
                        *ngFor="
                            let item of yearEvents[
                                (month | date : 'yyyy-MM') ?? ''
                            ] | keyvalue
                        "
                        [nzCount]="item.value"
                        [nzStyle]="{
                            backgroundColor:
                                (item.key
                                | uppercase
                                | calendarIncidentSeverity : 'color')
                        }"
                    ></nz-badge>
                </ng-container>
            </ng-container>
        </ng-container>
    </nz-calendar>
</nz-spin>
