<nz-spin [nzSpinning]="showLoading">
    <nz-calendar
        [(ngModel)]="selectedDate"
        (nzSelectChange)="selectChange($event)"
        (nzPanelChange)="panelChange($event)"
    >
        <ul *nzDateCell="let date" class="events">
            <ng-container [ngSwitch]="date | date: 'yyyy-MM-dd'">
                <ng-container *ngSwitchCase="date | date: 'yyyy-MM-dd'">
                    <li>
                        @for (
                            item of monthEvents[
                                (date | date: "yyyy-MM-dd") ?? ""
                            ] | keyvalue;
                            track item
                        ) {
                            @if (!item.value.isLongTerm) {
                                <nz-badge
                                    class="count-badge"
                                    nzStandalone
                                    [nzCount]="item.value.count"
                                    [nzStyle]="{
                                        backgroundColor:
                                            (item.key
                                            | uppercase
                                            | calendarIncidentSeverity: 'color')
                                    }"
                                />
                            }
                        }
                    </li>
                    <li>
                        <span
                            *ngFor="
                                let item of monthEvents[
                                    (date | date: 'yyyy-MM-dd') ?? ''
                                ] | keyvalue
                            "
                        >
                            @if (item.value.isLongTerm) {
                                <span
                                    class="long-term-indicator"
                                    nz-icon
                                    nzType="clock-circle"
                                    nz-tooltip
                                    nzTooltipTitle="Long-term incident"
                                    nzTooltipPlacement="topLeft"
                                    [nzTooltipArrowPointAtCenter]="true"
                                ></span>
                                <nz-badge
                                    class="count-badge"
                                    nzStandalone
                                    [nzCount]="item.value.count"
                                    [nzStyle]="{
                                        backgroundColor:
                                            (item.key
                                            | uppercase
                                            | calendarIncidentSeverity: 'color')
                                    }"
                                />
                            }
                        </span>
                    </li>
                </ng-container>
            </ng-container>
        </ul>

        <ng-container *nzMonthCell="let month" class="events">
            <ng-container [ngSwitch]="month | date: 'yyyy-MM'">
                <ng-container *ngSwitchCase="month | date: 'yyyy-MM'">
                    @for (
                        item of yearEvents[(month | date: "yyyy-MM") ?? ""]
                            | keyvalue;
                        track item
                    ) {
                        <nz-badge
                            class="count-badge"
                            nzStandalone
                            [nzCount]="item.value"
                            [nzStyle]="{
                                backgroundColor:
                                    (item.key
                                    | uppercase
                                    | calendarIncidentSeverity: 'color')
                            }"
                        />
                    }
                </ng-container>
            </ng-container>
        </ng-container>
    </nz-calendar>
</nz-spin>
