<div class="button-container">
    <d-button
        class="spotting-form-button"
        (click)="openStandardDialog('standard')"
        >Add spotting entry</d-button
    >
</div>
<div dLoading class="spotting-main-container" [showLoading]="showLoading">
    <div class="spotting-table-container" *ngIf="tabActiveId">
        <section>
            <d-tabs
                type="pills"
                size="lg"
                [(activeTab)]="tabActiveId"
                (activeTabChange)="activeTabChange($event)"
                [scrollMode]="scrollMode"
            >
                <d-tab *ngFor="let item of tabItems" [id]="item.id">
                    <ng-template dTabTitle>
                        <div
                            dTooltip
                            [content]="item.detail"
                            [position]="'bottom'"
                        >
                            {{ item.title }}
                        </div>
                    </ng-template>
                </d-tab>
            </d-tabs>
        </section>

        <app-vehicle-type-container
            [tableData]="tableData"
            [lineId]="tabActiveId"
        ></app-vehicle-type-container>
    </div>
</div>
