<div class="button-container">
    <button
        nz-button
        class="spotting-form-button"
        (click)="openStandardDialog('standard')"
    >
        Add spotting entry
    </button>
</div>
<nz-spin class="spotting-main-container" [nzSpinning]="showLoading">
    <div class="spotting-table-container" *ngIf="tabActiveId">
        <section>
            <nz-tabset
                [nzTabPosition]="'top'"
                [(nzSelectedIndex)]="selectedTabIndex"
                (nzSelectChange)="activeTabChange($event)"
            >
                <nz-tab *ngFor="let item of tabItems" [nzTitle]="tabTitle">
                    <ng-template #tabTitle>
                        <div
                            nz-tooltip
                            [nzTooltipPlacement]="'bottom'"
                            [nzTooltipTitle]="item.detail"
                        >
                            {{ item.title }}
                        </div>
                    </ng-template>
                    <app-vehicle-type-container
                        [tableData]="tableData"
                        [lineId]="tabActiveId"
                    >
                    </app-vehicle-type-container>
                </nz-tab>
            </nz-tabset>

            <!-- <nz-tabset nzLinkRouter>
                <nz-tab>
                  <a *nzTabLink nz-tab-link [routerLink]="['.']">Link</a>
                  Default.
                </nz-tab>
              </nz-tabset> -->
        </section>
    </div>
</nz-spin>
