@import "ng-devui/styles-var/devui-var.scss";

.button-container {
    display: flex;

    .flex-buffer {
        flex: 70%;
    }

    .spotting-progress-bar {
        margin-right: 10px;
        margin-top: 15px;
        z-index: 10;

        &.uploading {
            padding-right: 20px;
        }
    }
}

.spotting-form-button {
    margin-left: auto;
    margin-right: 2%;
    margin-top: 10px;
    z-index: 10;
}

.spotting-table-container {
}

.spotting-main-container {
    margin-top: 0px;
    margin-bottom: 50px;
}
