@import "~ng-devui/styles-var/devui-var.scss";

.button-container {
    display: flex;
}

.spotting-form-button {
    margin-left: auto;
    margin-right: 2%;
    margin-top: 30px;
    z-index: 10;
}

.spotting-table-container {
}

.spotting-main-container {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.spotting-table-elem {
    margin-top: 2%;
    display: block;
}

.spotting-table-title {
    font-size: $devui-font-size-page-title;

    .table-title-display-text {
        margin-right: 80px;
    }
}

.status-icon {
    pointer-events: none;
    margin-left: 2px;
    margin-right: 2px;
}

:host ::ng-deep .devui-tag-item.tag-custom {
    background-color: $devui-brand;
    color: $devui-light-text;
    box-sizing: border-box;
}
