@switch (vehicleStatus) {
    @case ("IN_SERVICE") {
        <nz-tag [nzColor]="'green'">
            {{ vehicleStatus | vehicleStatusPipe }}
        </nz-tag>
    }
    @case ("NOT_SPOTTED") {
        <nz-tag [nzColor]="'orange'">
            {{ vehicleStatus | vehicleStatusPipe }}
        </nz-tag>
    }
    @case ("TESTING") {
        <nz-tag [nzColor]="'blue'">
            {{ vehicleStatus | vehicleStatusPipe }}
        </nz-tag>
    }
    @case ("UNKNOWN") {
        <nz-tag [nzColor]="'red'">
            {{ vehicleStatus | vehicleStatusPipe }}
        </nz-tag>
    }
    @default {
        <nz-tag>
            {{ vehicleStatus | vehicleStatusPipe }}
        </nz-tag>
    }
}
