<span [ngSwitch]="vehicleStatus">
    <d-tag
        *ngSwitchCase="'IN_SERVICE'"
        [tag]="vehicleStatus | vehicleStatusPipe"
        [labelStyle]="'green-w98'"
    >
    </d-tag>
    <d-tag
        *ngSwitchCase="'NOT_SPOTTED'"
        [tag]="vehicleStatus | vehicleStatusPipe"
        [labelStyle]="'yellow-w98'"
    >
    </d-tag>
    <d-tag
        *ngSwitchCase="'TESTING'"
        [tag]="vehicleStatus | vehicleStatusPipe"
        [labelStyle]="'blue-w98'"
    >
    </d-tag>
    <d-tag
        *ngSwitchCase="'UNKNOWN'"
        [tag]="vehicleStatus | vehicleStatusPipe"
        [labelStyle]="'red-w98'"
    >
    </d-tag>
    <d-tag
        *ngSwitchCase="'OUT_OF_SERVICE'"
        [tag]="vehicleStatus | vehicleStatusPipe"
        [labelStyle]="'red-w98'"
    >
    </d-tag>
    <d-tag
        *ngSwitchDefault
        [tag]="vehicleStatus | vehicleStatusPipe"
        [customColor]="'var(--devui-text-weak)'"
    >
    </d-tag>
</span>
