@switch (vehicleStatus) {
    @case ("IN_SERVICE") {
        <d-tag
            [tag]="vehicleStatus | vehicleStatusPipe"
            [labelStyle]="'green-w98'"
        />
    }
    @case ("NOT_SPOTTED") {
        <d-tag
            [tag]="vehicleStatus | vehicleStatusPipe"
            [labelStyle]="'yellow-w98'"
        />
    }
    @case ("TESTING") {
        <d-tag
            [tag]="vehicleStatus | vehicleStatusPipe"
            [labelStyle]="'blue-w98'"
        />
    }
    @case ("UNKNOWN") {
        <d-tag
            [tag]="vehicleStatus | vehicleStatusPipe"
            [labelStyle]="'red-w98'"
        />
    }
    @case ("OUT_OF_SERVICE") {
        <d-tag
            [tag]="vehicleStatus | vehicleStatusPipe"
            [labelStyle]="'red-w98'"
        />
    }
    @default {
        <d-tag
            [tag]="vehicleStatus | vehicleStatusPipe"
            [customColor]="'var(--devui-text-weak)'"
        />
    }
}
