<d-data-table
    #tableInstance
    [dataSource]="displayData"
    [scrollable]="true"
    [tableOverflowType]="'overlay'"
    [tableWidthConfig]="tableWidthConfig"
    [lazy]="true"
    (loadMore)="loadMore($event)"
    [virtualScroll]="true"
    [containFixHeaderHeight]="true"
    [fixHeader]="true"
    tableHeight="50vh"
    dLoading
    [showLoading]="loading"
    [backdrop]="true"
>
    <thead dTableHead>
        <tr dTableRow>
            @for (colOption of dataTableOptions.columns; track colOption) {
                <th dHeadCell>{{ colOption.header }}</th>
            }
        </tr>
    </thead>
    <tbody dTableBody>
        <ng-template
            let-rowItem="rowItem"
            let-rowIndex="rowIndex"
            let-nestedIndex="nestedIndex"
        >
            <tr
                dTableRow
                [ngClass]="{ 'table-row-selected': rowItem.$checked }"
            >
                @for (colOption of dataTableOptions.columns; track colOption) {
                    <td dTableCell>
                        @switch (colOption.fieldType) {
                            @case ("status") {
                                <vehicle-status-tag
                                    [vehicleStatus]="rowItem[colOption.field]"
                                ></vehicle-status-tag>
                                @if (rowItem["runNumber"]) {
                                    <span
                                        nz-tooltip
                                        [nzTooltipTitle]="'Run Number'"
                                        [nzTooltipTrigger]="'hover'"
                                        [nzTooltipPlacement]="'right'"
                                    >
                                        🏃‍♂️ {{ rowItem["runNumber"] }}
                                    </span>
                                }
                            }

                            @case ("id") {
                                <a
                                    href="{{
                                        backendUrl
                                    }}admin/spotting/event/{{
                                        rowItem[colOption.field]
                                    }}"
                                    target="_blank"
                                >
                                    {{ rowItem[colOption.field] }}
                                </a>

                                @if (rowItem.canDelete) {
                                    <i
                                        nz-popconfirm
                                        nzPopconfirmTitle="Are you sure?"
                                        nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="deleteEvent(rowItem.id)"
                                        class="icon icon-delete delete-icon"
                                    ></i>
                                }
                            }

                            @case ("datetime") {
                                {{
                                    rowItem[colOption.field] | date: "MMM dd, y"
                                }}
                                <br />
                                {{
                                    rowItem[colOption.field] | date: "HH:mm:ss"
                                }}
                            }

                            @case ("vehicle") {
                                <vehicle-table-cell-display
                                    [vehicleData]="rowItem[colOption.field]"
                                />
                            }

                            @case ("spottingType") {
                                <spotting-type-cell-display
                                    [rowItem]="rowItem"
                                    [spottingType]="rowItem[colOption.field]"
                                />
                            }

                            @case ("notes") {
                                @if (
                                    rowItem["mediaCount"] > 0 ||
                                    rowItem["isMine"]
                                ) {
                                    <span class="picture-icon">
                                        <ui-spotting-image-preview-button
                                            [count]="rowItem['mediaCount']"
                                            [eventId]="rowItem['id']"
                                            [isMine]="rowItem['isMine']"
                                        />
                                    </span>
                                }
                                {{ rowItem[colOption.field] }}
                            }

                            @default {
                                {{ rowItem[colOption.field] }}
                            }
                        }
                    </td>
                }
            </tr>
        </ng-template>
    </tbody>
</d-data-table>
