<d-data-table
    #tableInstance
    [dataSource]="displayData"
    [scrollable]="true"
    [tableOverflowType]="'overlay'"
    [tableWidthConfig]="tableWidthConfig"
    [lazy]="true"
    (loadMore)="loadMore($event)"
    [virtualScroll]="true"
    [containFixHeaderHeight]="true"
    [fixHeader]="true"
    tableHeight="50vh"
    dLoading
    [showLoading]="loading"
    [backdrop]="true"
>
    <thead dTableHead>
        <tr dTableRow>
            <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">
                {{ colOption.header }}
            </th>
        </tr>
    </thead>
    <tbody dTableBody>
        <ng-template
            let-rowItem="rowItem"
            let-rowIndex="rowIndex"
            let-nestedIndex="nestedIndex"
        >
            <tr
                dTableRow
                [ngClass]="{ 'table-row-selected': rowItem.$checked }"
            >
                <td
                    dTableCell
                    *ngFor="let colOption of dataTableOptions.columns"
                >
                    <span [ngSwitch]="colOption.fieldType">
                        <span *ngSwitchCase="'status'">
                            <vehicle-status-tag
                                [vehicleStatus]="rowItem[colOption.field]"
                            ></vehicle-status-tag>
                            <span
                                *ngIf="rowItem['runNumber']"
                                nz-tooltip
                                [nzTooltipTitle]="'Run Number'"
                                [nzTooltipTrigger]="'hover'"
                                [nzTooltipPlacement]="'right'"
                            >
                                🏃‍♂️ {{ rowItem["runNumber"] }}
                            </span>
                        </span>
                        <span *ngSwitchCase="'id'">
                            <a
                                href="{{ backendUrl }}admin/spotting/event/{{
                                    rowItem[colOption.field]
                                }}"
                                target="_blank"
                            >
                                {{ rowItem[colOption.field] }}
                            </a>

                            <i
                                nz-popconfirm
                                nzPopconfirmTitle="Are you sure?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="deleteEvent(rowItem.id)"
                                class="icon icon-delete delete-icon"
                                *ngIf="rowItem.canDelete"
                            ></i>
                        </span>
                        <span *ngSwitchCase="'datetime'">
                            {{ rowItem[colOption.field] | date: "MMM dd, y" }}
                            <br />
                            {{ rowItem[colOption.field] | date: "HH:mm:ss" }}
                        </span>
                        <span *ngSwitchCase="'vehicle'">
                            <vehicle-table-cell-display
                                [vehicleData]="rowItem[colOption.field]"
                            >
                            </vehicle-table-cell-display>
                        </span>
                        <span *ngSwitchCase="'spottingType'">
                            <spotting-type-cell-display
                                [rowItem]="rowItem"
                                [spottingType]="rowItem[colOption.field]"
                            >
                            </spotting-type-cell-display>
                        </span>
                        <span *ngSwitchCase="'notes'">
                            <span
                                class="picture-icon"
                                *ngIf="
                                    rowItem['mediaCount'] > 0 ||
                                    rowItem['isMine']
                                "
                            >
                                <ui-spotting-image-preview-button
                                    [count]="rowItem['mediaCount']"
                                    [eventId]="rowItem['id']"
                                    [isMine]="rowItem['isMine']"
                                >
                                </ui-spotting-image-preview-button>
                            </span>
                            {{ rowItem[colOption.field] }}
                        </span>
                        <span *ngSwitchDefault>{{
                            rowItem[colOption.field]
                        }}</span>
                    </span>
                </td>
            </tr>
        </ng-template>
    </tbody>
</d-data-table>
