<d-data-table
    [dataSource]="displayData"
    [scrollable]="true"
    [tableOverflowType]="'overlay'"
    [tableWidthConfig]="tableWidthConfig"
    [lazy]="true"
    (loadMore)="loadMore($event)"
    dLoading
    [showLoading]="loading"
    [backdrop]="true"
    [virtualScroll]="true"
    [containFixHeaderHeight]="true"
    [fixHeader]="true"
    tableHeight="50vh"
>
    <thead dTableHead>
        <tr dTableRow>
            <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">
                {{ colOption.header }}
            </th>
        </tr>
    </thead>
    <tbody dTableBody>
        <ng-template
            let-rowItem="rowItem"
            let-rowIndex="rowIndex"
            let-nestedIndex="nestedIndex"
        >
            <tr
                dTableRow
                [ngClass]="{ 'table-row-selected': rowItem.$checked }"
            >
                <td
                    dTableCell
                    *ngFor="let colOption of dataTableOptions.columns"
                >
                    <span [ngSwitch]="colOption.fieldType">
                        <span *ngSwitchCase="'status'">
                            <vehicle-status-tag
                                [vehicleStatus]="rowItem[colOption.field]"
                            ></vehicle-status-tag>
                        </span>
                        <span *ngSwitchCase="'id'">
                            <a
                                href="{{ backendUrl }}admin/spotting/event/{{
                                    rowItem[colOption.field]
                                }}"
                                class="devui-link"
                                target="_blank"
                            >
                                {{ rowItem[colOption.field] }}
                            </a>
                        </span>
                        <span *ngSwitchCase="'datetime'">
                            {{ rowItem[colOption.field] | date : "MMM dd, y" }}
                            <br />
                            {{ rowItem[colOption.field] | date : "HH:mm:ss" }}
                        </span>
                        <span *ngSwitchCase="'vehicle'">
                            <vehicle-table-cell-display
                                [vehicleData]="rowItem[colOption.field]"
                            >
                            </vehicle-table-cell-display>
                        </span>
                        <span *ngSwitchCase="'spottingType'">
                            <spotting-type-cell-display
                                [rowItem]="rowItem"
                                [spottingType]="rowItem[colOption.field]"
                            >
                            </spotting-type-cell-display>
                        </span>
                        <span *ngSwitchDefault>{{
                            rowItem[colOption.field]
                        }}</span>
                    </span>
                </td>
            </tr>
        </ng-template>
    </tbody>
</d-data-table>
