@import "ng-devui/styles-var/devui-var.scss";

.spotting-table-elem {
    margin-top: 2%;
    display: block;
}

.status-icon {
    margin-left: 2px;
    margin-right: 2px;
}

.status-icon-grid {
    padding-top: 10px;
}

line-status-tag {
    padding-right: 10px;
}
