<div dLoading [showLoading]="showLoading">
    <div class="spotting-table-elem" *ngFor="let elem of tableData">
        <h1 class="spotting-table-title">
            <span class="table-title-display-text">
                {{ elem.displayName }}
            </span>

            <span dTooltip [content]="'Total'" [position]="'bottom'">
                <d-tag
                    [tag]="
                        'Total: ' +
                        elem.vehicleStatusCount.vehicleTotalCount.toString()
                    "
                    [mode]="'checkable'"
                    [labelStyle]="'blue-w98'"
                ></d-tag>
            </span>

            |

            <span
                dTooltip
                [content]="
                    (
                        (elem.vehicleStatusCount.vehicleStatusInServiceCount /
                            elem.vehicleStatusCount.vehicleTotalCount) *
                        100
                    ).toPrecision(3) + '%'
                "
                [position]="'bottom'"
            >
                <d-tag
                    [tag]="
                        'In service: ' +
                        elem.vehicleStatusCount.vehicleStatusInServiceCount.toString()
                    "
                    [mode]="'checkable'"
                    [labelStyle]="'green-w98'"
                    class="status-icon"
                >
                </d-tag>
            </span>
            <span
                dTooltip
                [content]="
                    (
                        (elem.vehicleStatusCount.vehicleStatusNotSpottedCount /
                            elem.vehicleStatusCount.vehicleTotalCount) *
                        100
                    ).toPrecision(3) + '%'
                "
                [position]="'bottom'"
            >
                <d-tag
                    [tag]="
                        'Not Spotted: ' +
                        elem.vehicleStatusCount.vehicleStatusNotSpottedCount.toString()
                    "
                    [mode]="'checkable'"
                    [labelStyle]="'yellow-w98'"
                    class="status-icon"
                >
                </d-tag>
            </span>
            <span
                dTooltip
                [content]="
                    (
                        (elem.vehicleStatusCount.vehicleStatusTestingCount /
                            elem.vehicleStatusCount.vehicleTotalCount) *
                        100
                    ).toPrecision(3) + '%'
                "
                [position]="'bottom'"
            >
                <d-tag
                    [tag]="
                        'Testing: ' +
                        elem.vehicleStatusCount.vehicleStatusTestingCount.toString()
                    "
                    [mode]="'checkable'"
                    [labelStyle]="'blue-w98'"
                    class="status-icon"
                >
                </d-tag>
            </span>
            <span
                dTooltip
                [content]="
                    (
                        (elem.vehicleStatusCount.vehicleStatusUnknownCount /
                            elem.vehicleStatusCount.vehicleTotalCount) *
                        100
                    ).toPrecision(3) + '%'
                "
                [position]="'bottom'"
            >
                <d-tag
                    [tag]="
                        'Unknown: ' +
                        elem.vehicleStatusCount.vehicleStatusUnknownCount.toString()
                    "
                    [mode]="'checkable'"
                    [labelStyle]="'red-w98'"
                    class="status-icon"
                >
                </d-tag>
            </span>
            <span
                dTooltip
                [content]="
                    (
                        (elem.vehicleStatusCount
                            .vehicleStatusDecommissionedCount /
                            elem.vehicleStatusCount.vehicleTotalCount) *
                        100
                    ).toPrecision(3) + '%'
                "
                [position]="'bottom'"
            >
                <d-tag
                    [tag]="
                        'Decommissioned: ' +
                        elem.vehicleStatusCount.vehicleStatusDecommissionedCount.toString()
                    "
                    [mode]="'checkable'"
                    [customColor]="'#71737a'"
                    class="status-icon"
                >
                </d-tag>
            </span>

            <span
                dTooltip
                [content]="
                    (
                        (elem.vehicleStatusCount.vehicleStatusMarriedCount /
                            elem.vehicleStatusCount.vehicleTotalCount) *
                        100
                    ).toPrecision(3) + '%'
                "
                [position]="'bottom'"
            >
                <d-tag
                    [tag]="
                        'Married: ' +
                        elem.vehicleStatusCount.vehicleStatusMarriedCount.toString()
                    "
                    [mode]="'checkable'"
                    [customColor]="'#71737a'"
                    class="status-icon"
                >
                </d-tag>
            </span>
        </h1>

        <app-spotting-table
            class="app-spotting-table"
            [dataSource]="elem.tableData"
        ></app-spotting-table>
    </div>
</div>
