<h1>GDPR</h1>
<p [innerHTML]="definition"></p>
<p [innerHTML]="intro"></p>

@for (elem of details; track elem) {
    <div>
        <h2>{{ elem.title }}</h2>
        @for (child of elem.children; track child) {
            <d-panel
                [type]="'primary'"
                [isCollapsed]="child.isCollapsed"
                [showAnimation]="true"
                (toggle)="toggle($event, child)"
                #panel
            >
                <d-panel-header>
                    <em
                        class="icon icon-select-arrow"
                        [ngClass]="child.isCollapsed ? 'open' : ''"
                    ></em>
                    {{ child.title }} {{ child.adhered ? "✅" : "❌" }}
                </d-panel-header>
                <d-panel-body>
                    <div [innerHTML]="child.details"></div>
                    @if (!(child.notes === "" || child.notes === undefined)) {
                        <div>
                            <hr />
                            <div [innerHTML]="child.notes"></div>
                        </div>
                    }
                </d-panel-body>
                <d-panel-footer />
            </d-panel>
        }
    </div>
}
