<h1>GDPR</h1>
<p [innerHTML]="definition"></p>
<p [innerHTML]="intro"></p>

@for (elem of details; track elem) {
    <div>
        <h2>{{ elem.title }}</h2>
        @for (child of elem.children; track child) {
            <nz-collapse>
                <nz-collapse-panel
                    [nzActive]="!child.isCollapsed"
                    [nzHeader]="headerTpl"
                    (nzActiveChange)="toggle(!$event, child)"
                >
                    <div [innerHTML]="child.details"></div>
                    @if (!(child.notes === "" || child.notes === undefined)) {
                        <div>
                            <hr />
                            <div [innerHTML]="child.notes"></div>
                        </div>
                    }
                </nz-collapse-panel>
                <ng-template #headerTpl>
                    {{ child.title }} {{ child.adhered ? "✅" : "❌" }}
                </ng-template>
            </nz-collapse>
        }
    </div>
}
