<span>
    <a
        nz-tooltip
        [nzTooltipTitle]="cellData.lines.join(', ')"
        href="{{ backendUrl }}admin/operation/vehicle/{{ cellData.id }}"
        target="_blank"
    >
        {{ cellData.identificationNo }}
        ({{ cellData.vehicleType.internalName }}) <br />
    </a>
    <span
        nz-tooltip
        [nzTooltipTitle]="cellData.notes"
        [nzTooltipPlacement]="'right'"
        *ngIf="cellData.notes"
    >
        📝
    </span>
    <vehicle-status-tag [vehicleStatus]="cellData.status"></vehicle-status-tag>
</span>
