<span>
    <a
        dTooltip
        [content]="lines"
        href="{{ backendUrl }}admin/operation/vehicle/{{ vehicleData.id }}"
        target="_blank"
    >
        {{ vehicleData.identificationNo }}
        ({{ vehicleData.vehicleType.internalName }}) <br />
    </a>
    <span
        dTooltip
        [content]="vehicleData.notes"
        [position]="'right'"
        *ngIf="vehicleData.notes"
    >
        📝
    </span>
    <vehicle-status-tag
        [vehicleStatus]="vehicleData.status"
    ></vehicle-status-tag>
</span>
