<nz-ribbon
    [nzText]="
        (displayData.severity | titlecase) +
        (displayData.impactFactor > 0 ? ': ' + displayData.impactFactor : '')
    "
    [nzColor]="displayData.severity | calendarIncidentSeverity: 'color'"
>
    <nz-card
        [class]="
            displayData.longTerm ? 'incident-card-long-term' : 'incident-card'
        "
        [nzTitle]="cardTitleTemplate"
        [nzActions]="[actionImages]"
    >
        @if (
            displayData.lines.length > 0 ||
            displayData.vehicles.length > 0 ||
            displayData.stations.length > 0
        ) {
            <div>
                @for (line of displayData.lines; track line) {
                    <nz-tag [nzColor]="line.displayColor" class="incident-tags">
                        {{ line.displayName }}
                    </nz-tag>
                }
                @if (displayData.vehicles.length > 0) {
                    <span class="incident-tags-separator"> | </span>
                    @for (
                        vehicle of displayData.vehicles;
                        track vehicle.identificationNo
                    ) {
                        <nz-tag class="incident-tags">
                            {{ vehicle.identificationNo }}
                        </nz-tag>
                    }
                }
                @if (displayData.stations.length > 0) {
                    <span>
                        <span class="incident-tags-separator"> | </span>
                        @for (
                            station of displayData.stations;
                            track station.displayName
                        ) {
                            <nz-tag class="incident-tags">
                                {{ station.displayName }}
                            </nz-tag>
                        }
                    </span>
                }
            </div>
        }

        <div
            nz-row
            [class]="
                displayData.lines.length > 0 ||
                displayData.vehicles.length > 0 ||
                displayData.stations.length > 0
                    ? 'card-brief'
                    : ''
            "
            [nzGutter]="16"
        >
            @if (displayData.chronologies.length > 0) {
                <div nz-col [nzXs]="24" [nzXl]="12">
                    <nz-timeline
                        [nzPending]="
                            displayData.endDatetime ? false : loadingTemplate
                        "
                    >
                        @for (event of displayData.chronologies; track event) {
                            <nz-timeline-item [nzColor]="event.indicator">
                                <b>
                                    {{
                                        event.datetime
                                            | date: "YYYY-MM-dd HH:mm:ss"
                                    }}
                                </b>
                                @if (event.sourceUrl) {
                                    -
                                    <a [href]="event.sourceUrl" target="_blank">
                                        Source
                                    </a>
                                }
                                <br />
                                <div [innerHTML]="event.content"></div>
                            </nz-timeline-item>
                        }
                    </nz-timeline>
                    @if (displayData.duration) {
                        <div>Duration: {{ displayData.duration }}</div>
                    }
                </div>
            }
            <div
                nz-col
                [nzXs]="24"
                [nzXl]="displayData.chronologies.length > 0 ? 12 : 24"
            >
                <div [innerHTML]="displayData.brief"></div>
                <!-- <img
                                class="image"
                                alt="logo"
                                src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"
                            /><br> -->
                <br />
                @if (displayData.hasDetails) {
                    <a (click)="onDetailsClick($event)">Details</a>
                }

                <div class="last-updated">
                    <span>
                        Last updated:
                        {{
                            displayData.lastUpdated
                                | date: "YYYY-MM-dd HH:mm:ss"
                        }}
                    </span>
                </div>
            </div>
        </div>
    </nz-card>
    <ng-template #actionImages>
        <span
            nz-icon
            nzType="camera"
            nzTheme="outline"
            (click)="onImagePanelClick($event)"
        ></span>
    </ng-template>
    <ng-template #loadingTemplate>
        Ongoing for... <br />
        {{ elapsedTime }}
    </ng-template>
    <ng-template #cardTitleTemplate>
        <!-- <a href="{{ displayData.href }}">{{ displayData.title }}</a> -->
        @if (displayData.inaccurate) {
            <span
                class="indicator-icon"
                nz-tooltip
                nzTooltipTitle="Data may be inaccurate"
                nzTooltipPlacement="topLeft"
                [nzTooltipArrowPointAtCenter]="true"
                nz-icon
                nzType="exception"
                nzTheme="outline"
            ></span>
        }
        @if (displayData.longTerm) {
            <span
                class="indicator-icon"
                nz-tooltip
                nzTooltipTitle="Long term incident"
                nzTooltipPlacement="topLeft"
                [nzTooltipArrowPointAtCenter]="true"
                nz-icon
                nzType="clock-circle"
                nzTheme="outline"
            ></span>
        }
        {{ displayData.title }}
    </ng-template>
</nz-ribbon>

<ng-template #drawerFooter>
    <div style="float: right">
        <button nz-button style="margin-right: 8px" (click)="close()">
            Cancel
        </button>
        <button nz-button nzType="primary" (click)="submit()">Submit</button>
    </div>
</ng-template>
