<h1 class="table-title">Spotting Events Last 3 Days</h1>
<console-events-table
    [dataSource]="tableData.eventsLastThreeDays"
></console-events-table>

<br />

<h1 class="table-title">Spotting Events Last 5 Days w/Notes</h1>
<console-events-table
    [dataSource]="tableData.eventsLastFiveDaysHasNotes"
></console-events-table>

<br />

<h1 class="table-title">
    Spotting Events Last 7 Days w/Different Vehicle Status
</h1>
<console-events-table
    [dataSource]="tableData.eventsLastSevenDaysDifferentStatusThanVehicle"
></console-events-table>
