@import "~ng-devui/styles-var/devui-var.scss";

.table-title {
    font-size: $devui-font-size-page-title;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.loading-component {
    margin-top: 50px;
}
