<h1>Gallery</h1>

@if (loading) {
    <nz-spin class="content spinner" nzSimple></nz-spin>
}
@for (imgDate of imageDateMaps | keyvalue: compareFn; track imgDate) {
    <div
        inViewport
        [inViewportOptions]="{ rootMargin: '200px 0px' }"
        (inViewportAction)="onIntersection($event)"
        [id]="imgDate.key"
        class="date-image-container"
        #dateImageContainer
    >
        <h2>{{ imgDate.key | date }}</h2>
        @if (imgDate.value.displayImages) {
            <image-grid [images]="imgDate.value.images" />
        } @else {
            <div
                [ngStyle]="{
                    height: (imgDate.value.images.length / 3) * 200 + 'px'
                }"
            ></div>
        }
    </div>
}
