<nz-spin [nzSpinning]="showLoading">
    <form nz-form nzLayout="inline" class="filter-bar">
        <nz-form-item>
            <nz-form-label>Status</nz-form-label>
            <nz-form-control>
                <nz-select
                    name="status"
                    nzMode="multiple"
                    nzPlaceHolder="Any"
                    style="min-width: 180px"
                    [(ngModel)]="filterForm.status"
                >
                    @for (option of statusOptions; track option.value) {
                        <nz-option
                            [nzLabel]="option.label"
                            [nzValue]="option.value"
                        ></nz-option>
                    }
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Spotting Type</nz-form-label>
            <nz-form-control>
                <nz-select
                    name="spottingType"
                    nzMode="multiple"
                    nzPlaceHolder="Any"
                    style="min-width: 180px"
                    [(ngModel)]="filterForm.spottingType"
                >
                    @for (option of spottingTypeOptions; track option.value) {
                        <nz-option
                            [nzLabel]="option.label"
                            [nzValue]="option.value"
                        ></nz-option>
                    }
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Created Time</nz-form-label>
            <nz-form-control>
                <nz-range-picker
                    name="createdTimeRange"
                    [nzShowTime]="true"
                    [(ngModel)]="filterForm.createdTimeRange"
                ></nz-range-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Spotted Date</nz-form-label>
            <nz-form-control>
                <nz-range-picker
                    name="spottedDateRange"
                    [(ngModel)]="filterForm.spottedDateRange"
                ></nz-range-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Vehicle Status Different</nz-form-label>
            <nz-form-control>
                <nz-radio-group
                    name="isVehicleStatusDifferent"
                    [(ngModel)]="filterForm.isVehicleStatusDifferent"
                >
                    <label nz-radio-button [nzValue]="undefined">Any</label>
                    <label nz-radio-button [nzValue]="true">Yes</label>
                    <label nz-radio-button [nzValue]="false">No</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Is Anonymous</nz-form-label>
            <nz-form-control>
                <nz-radio-group
                    name="isAnonymous"
                    [(ngModel)]="filterForm.isAnonymous"
                >
                    <label nz-radio-button [nzValue]="undefined">Any</label>
                    <label nz-radio-button [nzValue]="true">Yes</label>
                    <label nz-radio-button [nzValue]="false">No</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Is Read</nz-form-label>
            <nz-form-control>
                <nz-radio-group name="isRead" [(ngModel)]="filterForm.isRead">
                    <label nz-radio-button [nzValue]="undefined">Any</label>
                    <label nz-radio-button [nzValue]="true">Yes</label>
                    <label nz-radio-button [nzValue]="false">No</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Has Notes</nz-form-label>
            <nz-form-control>
                <nz-radio-group
                    name="hasNotes"
                    [(ngModel)]="filterForm.hasNotes"
                >
                    <label nz-radio-button [nzValue]="undefined">Any</label>
                    <label nz-radio-button [nzValue]="true">Yes</label>
                    <label nz-radio-button [nzValue]="false">No</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <input
                    nz-input
                    name="freeSearch"
                    placeholder="Free search"
                    [(ngModel)]="filterForm.freeSearch"
                />
            </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" (click)="onSearch()">Search</button>
    </form>

    <div class="mark-as-read-toggle">
        <div style="width: 100%"></div>
        <span
            nz-tooltip
            nzTooltipTitle="Toggle mark as read"
            nzTooltipPlacement="bottom"
        >
            <nz-switch
                (ngModelChange)="onToggleChange($event)"
                [ngModel]="showCheckbox"
            ></nz-switch>
        </span>
    </div>

    @if (showCheckbox) {
        <div class="mark-as-read-button">
            <div style="width: 100%"></div>
            <button nz-button nzSize="default" (click)="markAsRead()">
                Mark as Read
            </button>
        </div>
    }

    <nz-table
        #tableWrapper
        [nzData]="tableRows"
        [nzShowPagination]="false"
        [nzFrontPagination]="false"
        [nzScroll]="{ x: scrollX, y: '60vh' }"
        nzTableLayout="fixed"
    >
        <thead>
            <tr>
                @if (showCheckbox) {
                    <th [nzWidth]="'50px'"></th>
                }
                @for (
                    colOption of dataTableOptions.columns;
                    track colOption.header
                ) {
                    <th [nzWidth]="widthFor(colOption.field)">
                        {{ colOption.header }}
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (rowItem of tableWrapper.data; track rowItem) {
                <tr [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                    @if (showCheckbox) {
                        <td class="devui-checkable-cell">
                            <label
                                nz-checkbox
                                [ngModelOptions]="{ standalone: true }"
                                (ngModelChange)="
                                    onRowCheckChange($event, $index, rowItem)
                                "
                                [ngModel]="rowItem.$checked"
                                [nzDisabled]="rowItem.$checkDisabled"
                            >
                            </label>
                        </td>
                    }

                    @for (
                        colOption of dataTableOptions.columns;
                        track colOption
                    ) {
                        <td>
                            @switch (colOption.fieldType) {
                                @case ("status") {
                                    <vehicle-status-tag
                                        [vehicleStatus]="
                                            rowItem[colOption.field]
                                        "
                                    ></vehicle-status-tag>
                                    @if (rowItem["runNumber"]) {
                                        <div>
                                            🏃: {{ rowItem["runNumber"] }}
                                        </div>
                                    }
                                    @if (rowItem["wheelStatus"]) {
                                        <div>
                                            🛞:
                                            {{
                                                rowItem["wheelStatus"].replace(
                                                    "_",
                                                    " "
                                                ) | titlecase
                                            }}
                                        </div>
                                    }
                                }
                            }
                            @switch (colOption.fieldType) {
                                @case ("id") {
                                    <a
                                        href="{{
                                            backendUrl
                                        }}admin/spotting/event/{{
                                            rowItem[colOption.field]
                                        }}"
                                        target="_blank"
                                    >
                                        {{ rowItem[colOption.field] }}
                                    </a>
                                }

                                @case ("reporter") {
                                    @if (rowItem[colOption.field]) {
                                        <a
                                            href="{{
                                                backendUrl
                                            }}admin/common/user/?q={{
                                                rowItem[colOption.field][
                                                    'shortId'
                                                ]
                                            }}"
                                            target="_blank"
                                        >
                                            {{
                                                rowItem[colOption.field][
                                                    "nickname"
                                                ] === ""
                                                    ? rowItem[colOption.field][
                                                          "shortId"
                                                      ]
                                                    : rowItem[colOption.field][
                                                          "nickname"
                                                      ]
                                            }}
                                        </a>
                                        @if (
                                            rowItem[colOption.field][
                                                "nickname"
                                            ] !== ""
                                        ) {
                                            <span
                                                class="firebase-id-below-nickname"
                                            >
                                                {{
                                                    rowItem[colOption.field][
                                                        "shortId"
                                                    ]
                                                }}
                                            </span>
                                        }
                                    } @else {
                                        --
                                    }
                                }

                                @case ("datetime") {
                                    {{
                                        rowItem[colOption.field]
                                            | date: "MMM dd, y"
                                    }}
                                    <br />
                                    {{
                                        rowItem[colOption.field]
                                            | date: "HH:mm:ss"
                                    }}
                                }

                                @case ("vehicle") {
                                    <vehicle-table-cell-display
                                        [vehicleData]="rowItem[colOption.field]"
                                    />
                                }

                                @case ("spottingType") {
                                    <spotting-type-cell-display
                                        [rowItem]="rowItem"
                                        [spottingType]="
                                            rowItem[colOption.field]
                                        "
                                    />
                                }

                                @case ("notes") {
                                    @if (
                                        rowItem["mediaCount"] > 0 ||
                                        rowItem["isMine"]
                                    ) {
                                        <span class="picture-icon">
                                            <ui-spotting-image-preview-button
                                                [count]="rowItem['mediaCount']"
                                                [eventId]="rowItem['id']"
                                                [isMine]="rowItem['isMine']"
                                            />
                                        </span>
                                    }
                                    {{ rowItem[colOption.field] }}
                                }

                                @default {
                                    {{ rowItem[colOption.field] }}
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </nz-table>

    <div class="total-data">
        Total data (excluding filters): {{ totalCount | number }}
    </div>
</nz-spin>
