<div class="mark-as-read-button" *ngIf="showCheckbox">
    <div style="width: 100%"></div>
    <d-button (btnClick)="markAsRead()" [bsSize]="'md'">Mark as Read</d-button>
</div>

<d-data-table
    [dataSource]="displayData"
    [scrollable]="true"
    [tableOverflowType]="'overlay'"
    [tableWidthConfig]="tableWidthConfig"
    dLoading
    [showLoading]="showLoading"
    [backdrop]="true"
>
    <thead dTableHead [checkable]="showCheckbox">
        <tr dTableRow>
            <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">
                {{ colOption.header }}
            </th>
        </tr>
    </thead>
    <tbody dTableBody>
        <ng-template
            let-rowItem="rowItem"
            let-rowIndex="rowIndex"
            let-nestedIndex="nestedIndex"
        >
            <tr
                dTableRow
                [ngClass]="{ 'table-row-selected': rowItem.$checked }"
            >
                <td
                    dTableCell
                    class="devui-checkable-cell"
                    *ngIf="showCheckbox"
                >
                    <d-checkbox
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="
                            onRowCheckChange(
                                $event,
                                rowIndex,
                                nestedIndex,
                                rowItem
                            )
                        "
                        [ngModel]="rowItem.$checked"
                        [disabled]="rowItem.$checkDisabled"
                    >
                    </d-checkbox>
                </td>
                <td
                    dTableCell
                    *ngFor="let colOption of dataTableOptions.columns"
                >
                    <span [ngSwitch]="colOption.fieldType">
                        <span *ngSwitchCase="'status'">
                            <vehicle-status-tag
                                [vehicleStatus]="rowItem[colOption.field]"
                            ></vehicle-status-tag>
                        </span>
                        <span *ngSwitchCase="'id'">
                            <a
                                href="{{ backendUrl }}admin/spotting/event/{{
                                    rowItem[colOption.field]
                                }}"
                                class="devui-link"
                                target="_blank"
                            >
                                {{ rowItem[colOption.field] }}
                            </a>
                        </span>
                        <span *ngSwitchCase="'datetime'">
                            {{ rowItem[colOption.field] | date: "MMM dd, y" }}
                            <br />
                            {{ rowItem[colOption.field] | date: "HH:mm:ss" }}
                        </span>
                        <span *ngSwitchCase="'vehicle'">
                            <vehicle-table-cell-display
                                [vehicleData]="rowItem[colOption.field]"
                            >
                            </vehicle-table-cell-display>
                        </span>
                        <span *ngSwitchCase="'spottingType'">
                            <spotting-type-cell-display
                                [rowItem]="rowItem"
                                [spottingType]="rowItem[colOption.field]"
                            >
                            </spotting-type-cell-display>
                        </span>
                        <span *ngSwitchDefault>{{
                            rowItem[colOption.field]
                        }}</span>
                    </span>
                </td>
            </tr>
        </ng-template>
    </tbody>
</d-data-table>

<div class="count-text">Count: {{ displayData.length }}</div>
