.mark-as-read-toggle {
    display: flex;
    margin-left: auto;
    margin: 10px;
    z-index: 10;
}

.mark-as-read-button {
    display: flex;
    margin-left: auto;
    margin: 10px;
    z-index: 10;
}
