<nz-space nzDirection="vertical">
    <span *nzSpaceItem>
        <nz-card *ngIf="authService.userData | async">
            <nz-card-meta
                [nzTitle]="titleTemplate"
                [nzAvatar]="avatarTemplate"
                nzDescription="{{ (authService.userData | async)?.email }}"
            ></nz-card-meta>
            <div class="card-content"></div>
        </nz-card>

        <ng-template #titleTemplate>
            <a [href]="profileHref" [routerLink]="profileHref" class="text">{{
                (authService.userData | async)?.displayName
            }}</a>
        </ng-template>

        <ng-template #avatarTemplate>
            <nz-avatar [nzSrc]="userAvatar" [nzSize]="85"></nz-avatar>
        </ng-template>
    </span>
    <verification-code-card *nzSpaceItem></verification-code-card>
</nz-space>
<div class="theme-menu">
    <nz-switch
        class="theme-follow-toggle"
        [(ngModel)]="themeFollowSystemColorScheme"
        (ngModelChange)="followSystemColorScheme($event)"
    ></nz-switch>
    <span>Follow System Theme</span>
</div>

<div class="theme-menu">
    <button
        nz-button
        nzType="primary"
        *ngIf="(authService.userData | async) == null"
        (click)="authService.login()"
    >
        Login with Google
    </button>
    <button
        nz-button
        nzType="primary"
        *ngIf="authService.userData | async"
        (click)="authService.logout()"
    >
        Logout
    </button>
</div>
