@import "ng-devui/styles-var/devui-var.scss";

.card-content {
    padding-top: 10px;
}

.text {
    color: $devui-text;
    font-weight: $devui-font-title-weight;
}

.theme-menu {
    margin-top: 15px;
    font-size: $devui-font-size;
    line-height: 1.5;
}

.theme-follow-toggle {
    transform: scale(0.8);
}
