<d-card>
    <d-card-header *ngIf="authService.userData | async">
        <d-avatar
            dCardAvatar
            [imgSrc]="userAvatar"
            [width]="60"
            [height]="60"
        ></d-avatar>
        <d-card-title>
            <a [href]="profileHref" [routerLink]="profileHref" class="text">{{
                (authService.userData | async)?.displayName
            }}</a>
        </d-card-title>
        <d-card-subtitle>
            {{ (authService.userData | async)?.email }}
        </d-card-subtitle>
    </d-card-header>
    <d-card-content>
        <div class="theme-menu">
            <nz-switch
                class="theme-follow-toggle"
                [(ngModel)]="themeFollowSystemColorScheme"
                (ngModelChange)="followSystemColorScheme($event)"
            ></nz-switch>
            <span>Follow System Theme</span>
        </div>
    </d-card-content>
    <d-card-actions>
        <d-button
            *ngIf="(authService.userData | async) == null"
            (click)="authService.login()"
        >
            Login with Google
        </d-button>
        <d-button
            *ngIf="authService.userData | async"
            (click)="authService.logout()"
        >
            Logout
        </d-button>
    </d-card-actions>
</d-card>
