<div class="components">
    <d-card class="list">
        <d-card-header>
            <d-card-title class="title"
                ><h2>{{ data.name }}</h2></d-card-title
            >

            <d-card-subtitle class="subtitle"></d-card-subtitle>
        </d-card-header>
        <img dCardMeta [src]="data.iconUrl" />
        <d-card-content>
            {{ data.description }}
        </d-card-content>
        <d-card-actions [align]="'end'">
            <a [href]="data.url">Project Page</a>
        </d-card-actions>
    </d-card>
</div>
