.components {
    .list {
        padding: 20px;

        .content {
            margin-top: 10px;
        }
    }
}

.logo-img {
    max-height: 10vh;
    max-width: 10vw;
    object-fit: contain;
}
