@import "ng-devui/styles-var/devui-var.scss";

:host {
    display: none;
    display: var(--support-var, flex);
}

.menu-item {
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.theme-menu {
    padding: 8px 12px;
    font-size: $devui-font-size;
    line-height: 1.5;
    width: 200px; // 根据tab页动态宽度
}

d-toggle {
    display: inline-block;
}

.theme-follow-toggle {
    transform: scale(0.8);
}
