<div
    dDropDown
    appendToBody
    [appendToBodyDirections]="['leftDown', 'leftUp', 'rightDown', 'rightUp']"
    [closeScope]="'blank'"
    [trigger]="'hover'"
>
    <div class="menu-item">
        <i
            dDropDownToggle
            class="icon icon-code-editor-light menu-link"
            (click)="onIconClick()"
        >
        </i>
    </div>
    <div dDropDownMenu class="theme-menu">
        <div class="prefers-color-scheme">
            <d-toggle
                class="theme-follow-toggle"
                [(ngModel)]="themeFollowSystemColorScheme"
                (ngModelChange)="followSystemColorScheme($event)"
            ></d-toggle>
            <span>Follow System</span>
        </div>
    </div>
</div>
