<nz-tabset>
    <nz-tab nzTitle="Vehicle Status History">
        <ng-template nz-tab>
            @if (lineId) {
                <ui-vehicle-status-history
                    [lineId]="lineId"
                    [sources]="sources"
                />
            }
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Spotting Line Calendar Heatmap">
        <ng-template nz-tab>
            @if (lineId) {
                <spotting-line-calendar-heatmap [lineId]="lineId" />
            }
        </ng-template>
    </nz-tab>
</nz-tabset>
