@switch (lineStatus) {
    @case ("TESTING") {
        <d-tag [tag]="'Testing'" [labelStyle]="'blue-w98'" />
    }
    @case ("DEFUNCT") {
        <d-tag [tag]="'Defunct'" />
    }
    @case ("ACTIVE") {
        <d-tag [tag]="'Active'" [labelStyle]="'green-w98'" />
    }
    @case ("PARTIAL_ACTIVE") {
        <d-tag [tag]="'Partially Active'" [labelStyle]="'aqua-w98'" />
    }
    @case ("PARTIAL_DISRUPTION") {
        <d-tag [tag]="'Partial Disruption'" [labelStyle]="'yellow-w98'" />
    }
    @case ("TOTAL_DISRUPTION") {
        <d-tag [tag]="'Total Disruption'" [labelStyle]="'red-w98'" />
    }
    @default {
        <d-tag>
            {{ lineStatus | titlecase }}
        </d-tag>
    }
}
