@switch (lineStatus) {
    @case ("TESTING") {
        <nz-tag [nzColor]="'blue'">Testing</nz-tag>
    }
    @case ("DEFUNCT") {
        <nz-tag>Defunct</nz-tag>
    }
    @case ("ACTIVE") {
        <nz-tag [nzColor]="'green'">Active</nz-tag>
    }
    @case ("PARTIAL_ACTIVE") {
        <nz-tag [nzColor]="'cyan'">Partially Active</nz-tag>
    }
    @case ("PARTIAL_DISRUPTION") {
        <nz-tag [nzColor]="'yellow'">Partial Disruption</nz-tag>
    }
    @case ("TOTAL_DISRUPTION") {
        <nz-tag [nzColor]="'red'">Total Disruption</nz-tag>
    }
    @default {
        <nz-tag>
            {{ lineStatus | titlecase }}
        </nz-tag>
    }
}
