<div>
    <spotting-type-tag [spottingType]="spottingType"></spotting-type-tag>
    <br />
    @if (rowItem.location) {
        <a
            href="https://www.google.com/maps?q={{
                rowItem.location.latitude
            }},{{ rowItem.location.longitude }}"
            target="_blank"
        >
            @if (showLocationPopover) {
                <span
                    nz-tooltip
                    [nzTooltipTitle]="locationPopoverTemplate"
                    [nzTooltipTrigger]="'hover'"
                    [nzTooltipPlacement]="'right'"
                    nz-icon
                    [nzType]="'info-circle'"
                ></span>
            }
            {{ rowItem.location | coordinatesHumanizer: 3 }}
        </a>
    } @else if (rowItem.originStation) {
        @if (rowItem.type == "AT_STATION") {
            {{ rowItem.originStation.displayName }}
        } @else if (
            rowItem.type == "BETWEEN_STATIONS" && rowItem.destinationStation
        ) {
            {{ rowItem.originStation.displayName }} ->
            {{ rowItem.destinationStation.displayName }}
        }
    }
</div>

<ng-template #content> </ng-template>

<ng-template #locationPopoverTemplate>
    @if (rowItem.location) {
        <table class="location-popover">
            <tr>
                <td>Location</td>
                <td>:</td>
                <td>
                    {{
                        rowItem.location
                            | coordinatesHumanizer: 3 : ["location-only"]
                    }}
                </td>
            </tr>
            <tr>
                <td>Accuracy</td>
                <td>:</td>
                <td>{{ rowItem.location.accuracy | beautifulDecimal }}m</td>
            </tr>
            @if (rowItem.location.altitude) {
                <tr>
                    <td>Altitude</td>
                    <td>:</td>
                    <td>
                        {{ rowItem.location.altitude | beautifulDecimal }}m
                        @if (rowItem.location.altitudeAccuracy) {
                            ±
                            {{
                                rowItem.location.altitudeAccuracy
                                    | beautifulDecimal
                            }}m
                        }
                    </td>
                </tr>
            }
            @if (rowItem.location.heading) {
                <tr>
                    <td>Heading</td>
                    <td>:</td>
                    <td>{{ rowItem.location.heading | beautifulDecimal }}°</td>
                </tr>
            }

            @if (rowItem.location.speed) {
                <tr>
                    <td>Speed</td>
                    <td>:</td>
                    <td>
                        {{
                            rowItem.location.speed * 3.6 | beautifulDecimal
                        }}
                        km/h
                    </td>
                </tr>
            }
        </table>
    }
</ng-template>
