<div dLoading class="spotting-main-container" [showLoading]="showLoading">
    <d-button class="spotting-form-button" (click)="openStandardDialog('standard')">Add spotting entry</d-button>

    <div class="spotting-table-container">
        <div class="spotting-table-elem" *ngFor="let elem of tableData">
            <h1 class="spotting-table-title">{{elem.displayName}}</h1>
            <app-spotting-table class="app-spotting-table" [dataSource]="elem.tableData"></app-spotting-table>
        </div>

    </div>
</div>