<div dLoading class="spotting-main-container" [showLoading]="showLoading">
    <d-button class="spotting-form-button" (click)="openStandardDialog('standard')">Add spotting entry</d-button>

    <div class="spotting-table-container">
        <section>

            <d-tabs type="pills" size="lg" [(activeTab)]="tabActiveId" (activeTabChange)="activeTabChange($event)"
                [scrollMode]="tabItems.length > 5">

                <d-tab *ngFor="let item of tabItems" [id]="item.id">
                    <ng-template dTabTitle>
                        <div dTooltip [content]="item.detail" [position]="'bottom'">
                            {{ item.title }}
                        </div>
                    </ng-template>

                </d-tab>

            </d-tabs>

        </section>

        <div class="spotting-table-elem" *ngFor="let elem of tableData">
            <h1 class="spotting-table-title">{{elem.displayName}}</h1>
            <app-spotting-table class="app-spotting-table" [dataSource]="elem.tableData"></app-spotting-table>
        </div>

    </div>
</div>
