<d-common-header
    [showShadow]="false"
    [hasMaxWidth]="false"
    [isFixed]="true"
    [showShadow]="true"
    [showSearch]="true"
    [userAvatar]="userAvatar"
    class="header"
>
    <d-header-logo
        [name]="'MLPTF - Malaysia Land Public Transport Fans'"
    ></d-header-logo>
    <d-header-menu
        [menuList]="innerMenuList"
        [selectedItem]="innerMenuList[0]"
    ></d-header-menu>
</d-common-header>
<div class="content-outer-container">
    <div class="content-inner-container">
        <router-outlet class="main-container"></router-outlet>
    </div>
</div>
<footer class="footer">
    <hr />
    <div class="copyright">
        Build <i>{{ buildInfo.git.hash }}</i> @ {{ buildInfo.timestamp }}<br />
        GNU AGPLv3 by
        <a href="http://github.com/kwongtn" class="devui-link" target="_blank">
            KwongTN
        </a>
        & contributors
    </div>
</footer>
