<nz-spin [nzSpinning]="showLoading">
    <div class="form-component">
        <form
            nz-form
            nzLayout="horizontal"
            nzLabelAlign="left"
            [formGroup]="formGroup"
            [nzNoColon]="true"
            [nzLabelWrap]="true"
        >
            <div nz-row [nzGutter]="[16, 16]">
                <div
                    nz-col
                    nzXs="24"
                    class="login-alert"
                    *ngIf="!(authService.userData | async)"
                >
                    <nz-alert
                        nzType="info"
                        nzMessage="It seems that you're not logged in. Please login to proceed. If you are already logged in, please wait for a few seconds."
                        nzShowIcon
                        [nzAction]="loginActionTemplate"
                    ></nz-alert>
                    <ng-template #loginActionTemplate>
                        <nz-space nzDirection="vertical">
                            <button
                                *nzSpaceItem
                                nz-button
                                nzType="primary"
                                (click)="authService.login()"
                            >
                                Login
                            </button>
                        </nz-space>
                    </ng-template>
                </div>

                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="4">
                            Line
                        </nz-form-label>
                        <nz-form-control
                            nzFlex="auto"
                            [nzSpan]="20"
                            [nzValidateStatus]="
                                isShowBetweenStationsModeSelectedBeforeLineSelectionError
                                    ? 'error'
                                    : getStatus('line')
                            "
                            [nzHasFeedback]="hasStatus('line')"
                            class="nz-padded-form-item"
                            [nzErrorTip]="
                                isShowBetweenStationsModeSelectedBeforeLineSelectionError
                                    ? 'Please select a line before selecting \'Between Stations\' or \'At Station\' mode. Then, select the type again.'
                                    : undefined
                            "
                        >
                            <nz-select
                                nzShowSearch
                                nzPlaceHolder="Line"
                                formControlName="line"
                                [nzStatus]="
                                    isShowBetweenStationsModeSelectedBeforeLineSelectionError
                                        ? 'error'
                                        : ''
                                "
                                (ngModelChange)="onLineChanges($event)"
                            >
                                <nz-option
                                    *ngFor="let line of lineOptions"
                                    [nzLabel]="line.name"
                                    [nzValue]="line.value"
                                    [nzDisabled]="line.disabled"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="4">
                            Vehicle
                        </nz-form-label>
                        <nz-form-control
                            nzFlex="auto"
                            [nzValidateStatus]="getStatus('vehicle')"
                            [nzHasFeedback]="hasStatus('vehicle')"
                        >
                            <nz-select
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="Vehicle"
                                formControlName="vehicle"
                                (ngModelChange)="onVehicleChanges($event)"
                                [nzFilterOption]="vehicleSearchFn"
                            >
                                <nz-option
                                    *ngFor="let vehicle of vehicleOptions"
                                    [nzLabel]="vehicle.name"
                                    [nzValue]="vehicle"
                                    [nzDisabled]="vehicle.disabled"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="vehicle-alert" *ngIf="showVehicleWarning">
                        <nz-alert
                            nzType="warning"
                            nzCloseable="false"
                            nzShowIcon
                            [nzAction]="sanityTestTemplate"
                        ></nz-alert>
                        <ng-template #sanityTestTemplate>
                            <nz-space nzDirection="vertical">
                                <span class="sanity-test-text">
                                    It seems that you are trying to record a
                                    vehicle that is either decommissioned,
                                    married, out of service or unknown. Please
                                    complete the sanity test below.
                                </span>
                                <nz-form-item>
                                    <nz-form-control
                                        [nzValidateStatus]="
                                            getStatus('sanityTest')
                                        "
                                        [nzHasFeedback]="
                                            hasStatus('sanityTest')
                                        "
                                    >
                                        <label
                                            nz-checkbox
                                            (click)="toggleSanityTest()"
                                        >
                                            Yes, I know what I'm doing
                                        </label>
                                    </nz-form-control>
                                </nz-form-item>
                            </nz-space>
                        </ng-template>
                    </div>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="4">
                            Spotting Date
                        </nz-form-label>
                        <nz-form-control
                            nzFlex="auto"
                            [nzValidateStatus]="getStatus('spottingDate')"
                            [nzHasFeedback]="hasStatus('spottingDate')"
                        >
                            <nz-date-picker
                                formControlName="spottingDate"
                                (ngModelChange)="onChanges($event)"
                                [nzAllowClear]="false"
                            ></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="4">
                            Status
                        </nz-form-label>
                        <nz-form-control
                            [nzSpan]="20"
                            nzFlex="auto"
                            [nzValidateStatus]="getStatus('status')"
                            [nzHasFeedback]="hasStatus('status')"
                        >
                            <nz-select
                                nzPlaceHolder="Status"
                                formControlName="status"
                                (ngModelChange)="onChanges($event)"
                            >
                                <nz-option
                                    *ngFor="let status of statusOptions"
                                    [nzLabel]="status.name"
                                    [nzValue]="status.value"
                                ></nz-option>
                            </nz-select>

                            <!-- <nz-alert
                                *ngIf="formGroup['value']?.line === '3'"
                                class="test-type-info"
                                nzType="info"
                                nzMessage="Some trains may have a 'testing' banner on it. If so, do mark your entry as testing 😉"
                                nzShowIcon
                            ></nz-alert> -->
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="4">
                            Type
                        </nz-form-label>
                        <nz-form-control
                            nzFlex="auto"
                            [nzValidateStatus]="getStatus('type')"
                            [nzHasFeedback]="hasStatus('type')"
                        >
                            <nz-select
                                nzPlaceHolder="Type"
                                formControlName="type"
                                (ngModelChange)="onInputTypeChanged($event)"
                            >
                                <nz-option
                                    *ngFor="let entryType of typeOptions"
                                    [nzLabel]="entryType.name"
                                    [nzValue]="entryType.value"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <div *ngIf="showRunNumberInput">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="4"
                                >Run Number</nz-form-label
                            >
                            <nz-form-control
                                nzFlex="auto"
                                [nzValidateStatus]="getStatus('runNumber')"
                                [nzHasFeedback]="hasStatus('runNumber')"
                            >
                                <input
                                    nz-input
                                    placeholder="Run Number (Optional)"
                                    formControlName="runNumber"
                                />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div *ngIf="this.formGroup.value.type === 'LOCATION'">
                        <nz-form-item *ngIf="formGroup.value.location.altitude">
                            <nz-form-label [nzSpan]="4">Altitude</nz-form-label>
                            <nz-form-control
                                nzFlex="auto"
                                nzValidateStatus="success"
                            >
                                <input
                                    nz-input
                                    [disabled]="true"
                                    [value]="
                                        '' +
                                        formGroup.value.location.altitude +
                                        'm±' +
                                        formGroup.value.location
                                            .altitudeAccuracy
                                    "
                                />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item *ngIf="formGroup.value.location.heading">
                            <nz-form-label [nzSpan]="4">Heading</nz-form-label>
                            <nz-form-control
                                nzFlex="auto"
                                nzValidateStatus="success"
                            >
                                <input
                                    nz-input
                                    [disabled]="true"
                                    [value]="formGroup.value.location.heading"
                                />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item *ngIf="formGroup.value.location.speed">
                            <nz-form-label [nzSpan]="4">Speed</nz-form-label>
                            <nz-form-control
                                nzFlex="auto"
                                nzValidateStatus="success"
                            >
                                <input
                                    nz-input
                                    [disabled]="true"
                                    [value]="
                                        '' +
                                        formGroup.value.location.speed * 3.6 +
                                        'km/h'
                                    "
                                />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item *ngIf="formGroup.value.location.latitude">
                            <nz-form-label [nzSpan]="4"
                                >Coordinates</nz-form-label
                            >
                            <nz-form-control
                                nzFlex="auto"
                                nzValidateStatus="success"
                            >
                                <input
                                    nz-input
                                    [disabled]="true"
                                    [value]="
                                        formGroup.value.location
                                            | coordinatesHumanizer
                                    "
                                />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div *ngIf="formGroup.value.type == 'BETWEEN_STATIONS'">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzSpan]="4">
                                Origin Station
                            </nz-form-label>
                            <nz-form-control
                                nzFlex="auto"
                                [nzValidateStatus]="getStatus('originStation')"
                                [nzHasFeedback]="hasStatus('originStation')"
                            >
                                <nz-select
                                    nzShowSearch
                                    nzAllowClear
                                    nzPlaceHolder="Source Station"
                                    formControlName="originStation"
                                >
                                    <nz-option
                                        *ngFor="let station of stationOptions"
                                        [nzLabel]="station.name"
                                        [nzValue]="station.value"
                                        [nzDisabled]="station.disabled"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired [nzSpan]="4">
                                Destination Station
                            </nz-form-label>
                            <nz-form-control
                                nzFlex="auto"
                                [nzValidateStatus]="
                                    getStatus('destinationStation')
                                "
                                [nzHasFeedback]="
                                    hasStatus('destinationStation')
                                "
                            >
                                <nz-select
                                    nzShowSearch
                                    nzAllowClear
                                    nzPlaceHolder="Destination Station"
                                    formControlName="destinationStation"
                                >
                                    <nz-option
                                        *ngFor="let station of stationOptions"
                                        [nzLabel]="station.name"
                                        [nzValue]="station.value"
                                        [nzDisabled]="station.disabled"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div *ngIf="formGroup.value.type == 'AT_STATION'">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzSpan]="4">
                                At Station
                            </nz-form-label>
                            <nz-form-control
                                nzFlex="auto"
                                [nzValidateStatus]="getStatus('atStation')"
                                [nzHasFeedback]="hasStatus('atStation')"
                            >
                                <nz-select
                                    nzShowSearch
                                    nzAllowClear
                                    nzPlaceHolder="Station"
                                    formControlName="atStation"
                                >
                                    <nz-option
                                        *ngFor="let station of stationOptions"
                                        [nzLabel]="station.name"
                                        [nzValue]="station.value"
                                        [nzDisabled]="station.disabled"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <hr />
                    <nz-form-item>
                        <nz-form-label [nzSpan]="4">Wheel Status</nz-form-label>
                        <nz-form-control
                            nzFlex="auto"
                            [nzValidateStatus]="getStatus('wheelStatus')"
                            [nzHasFeedback]="hasStatus('wheelStatus')"
                        >
                            <nz-select
                                nzAllowClear
                                nzPlaceHolder="Wheel Status (Optional)"
                                formControlName="wheelStatus"
                                (ngModelChange)="onLineChanges($event)"
                            >
                                <nz-option
                                    *ngFor="
                                        let wheelStatus of wheelStatusOptions
                                    "
                                    [nzLabel]="wheelStatus.name"
                                    [nzValue]="wheelStatus.value"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSpan]="4">Notes</nz-form-label>
                        <nz-form-control nzFlex="auto">
                            <textarea
                                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                                nz-input
                                formControlName="notes"
                                placeholder="Additional notes"
                                (ngModelChange)="onChanges($event)"
                            ></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <label nz-checkbox (click)="toggleIsAnonymous()">
                                Anonymous Entry
                            </label>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24">
                    <div class="sub-header">Image Uploads</div>
                    <spotting-form-upload
                        (newImageEvent)="onNewImage($event)"
                    ></spotting-form-upload>
                </div>
            </div>
        </form>
    </div>
    <div
        class="form-component"
        *ngIf="
            (authService.userData | async) &&
            (sessionHistoryService.historyStoreLength | async)
        "
    >
        <div nz-row [nzGutter]="[16, 16]">
            <div nz-col nzXs="24">
                <div class="sub-header">
                    As of Current Session, you added the following entries
                </div>
                <ui-action-list [filter]="['spotting']"></ui-action-list>
            </div>
        </div>
    </div>
</nz-spin>
