@import "ng-devui/styles-var/devui-var.scss";

.form-component {
    @media (min-width: 700px) {
        width: 630px;
        margin-left: 15px;
        margin-right: 15px;
    }

    @media (max-width: 700px) {
        width: 90vw;
        margin-left: -7px;
        // margin-right: 10px;
    }
}

.devui-input-group-addon {
    vertical-align: middle;
}

.devui-input-group {
    width: 200px;
}

.devui-input-group-addon:hover {
    color: $devui-brand-active;
}

.close-icon-wrapper {
    padding: 0;
}

.icon-close {
    border-right: 1px solid $devui-dividing-line;
    padding-right: 10px;
    cursor: pointer;
}

::ng-deep .custom-css-class {
    font-weight: bold;
}

.plan-desc {
    height: 80px;
}

.login-alert {
    margin-bottom: 20px;
}

.vehicle-alert {
    margin-bottom: 20px;
}

.test-type-info {
    padding-top: 20px;
}

.required {
    font-weight: 600;
}

.devui-form-sm.devui-form-horizontal .devui-form-label {
    flex: 0 0 100px;
}

.sub-header {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
}

.sanity-test-text {
    color: $devui-gray-100;
}
