<div className="g2-tooltip" *ngIf="chartRef">
    <h2>{{ activeTooltipTitle | date: "MMMM d, y" }}</h2>
    <nz-row nzJustify="start" nzAlign="bottom" [nzGutter]="[4, 4]">
        <nz-col
            *ngFor="let item of tooltipItems; index as idx"
            [nzXs]="8"
            [nzMd]="6"
            [nzXl]="4"
        >
            <nz-card
                class="g2-tooltip-item
                    {{
                    activeSeriesList.includes(item.series) ? 'inactive' : ''
                }}
                "
                (click)="changeActiveSeries(item.series)"
            >
                <nz-statistic
                    [nzValue]="item.value || '-'"
                    [nzTitle]="item.series"
                    [nzPrefix]="statPrefixTemplate"
                >
                    <ng-template #statPrefixTemplate>
                        <div
                            class="g2-tooltip-item-marker"
                            [style]="'background: ' + colors10[idx]"
                        ></div>
                    </ng-template>
                </nz-statistic>
            </nz-card>
        </nz-col>
        <div nz-col nzFlex="auto"></div>
        <nz-col [nzXs]="8" [nzMd]="6" [nzXl]="4">
            Source
            <nz-segmented
                [nzOptions]="['MLPTF', 'MTREC', 'Prasarana']"
            ></nz-segmented>
        </nz-col>
    </nz-row>
</div>
<div id="vehicle-status-history-container"></div>
