@if (!chartRef && loading) {
    <nz-spin class="spinner" nzSimple />
}

@if (chartRef) {
    <div className="g2-tooltip">
        <nz-row nzJustify="start" nzAlign="bottom" [nzGutter]="[4, 4]">
            <nz-col [nzMd]="12" [nzXl]="8">
                <h2>{{ activeTooltipTitle | date: "MMMM d, y" }}</h2>
            </nz-col>
            <div nz-col nzFlex="auto"></div>
            <nz-col [nzXs]="8" [nzMd]="6" [nzXl]="4">
                <span nz-tooltip [nzTooltipTitle]="infoTip">
                    @if (infoTip) {
                        <span
                            nz-icon
                            nzType="info-circle"
                            nzTheme="twotone"
                        ></span>
                    }
                </span>
                Source
                @if (chartRef && loading) {
                    <span>
                        <span nz-icon nzType="loading"></span>
                    </span>
                }
                <br />
                <nz-segmented
                    (nzValueChange)="onDataSourceChange($event)"
                    [nzOptions]="dataSourceOptions"
                ></nz-segmented>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="[4, 4]">
            @for (item of tooltipItems; track item; let idx = $index) {
                <nz-col [nzXs]="12" [nzMd]="8" [nzLg]="4" [nzXl]="3">
                    <div
                        class="g2-tooltip-item-marker"
                        [style]="'background: ' + sequenceColors[idx]"
                    ></div>
                    <div class="g2-tooltip-item">
                        <nz-statistic
                            class="{{
                                activeSeriesList.includes(item.status)
                                    ? 'inactive'
                                    : ''
                            }}"
                            (click)="changeActiveSeries(item.status)"
                            [nzValue]="item.count || '-'"
                            [nzTitle]="
                                item.status.replaceAll('_', ' ') | titlecase
                            "
                        ></nz-statistic>
                    </div>
                </nz-col>
            }
        </nz-row>
    </div>
}
<div id="vehicle-status-history-container"></div>
