.social-svg-container {
    display: flex;
    flex-direction: row-reverse;
}

.social-svg {
    font-size: 24px;
}

.components {
    .list {
        padding: 20px;

        .card-block {
            margin-right: 16px;
        }
    }
}

.name {
    text-decoration: underline;
    font-weight: bold;
}

.avatar {
    margin-left: 20px;
}
