<div class="components">
    <nz-card class="list" [nzCover]="coverTemplate" [nzSize]="'default'">
        <nz-card-meta nzTitle="{{ data.name }}"></nz-card-meta>
        <p>{{ data.title }}</p>
        <p>{{ data.description }}</p>

        <div class="social-svg-container">
            <span
                nz-tooltip
                nzTooltipTitle="{{ social.name }}"
                nzTooltipPlacement="bottom"
                *ngFor="let social of data.socials"
                class="card-block"
            >
                <a [href]="social.link" target="_blank">
                    <span
                        class="social-svg"
                        nz-icon
                        [nzType]="social.type"
                        style="font-size: 24px"
                    ></span>
                </a>
            </span>
        </div>
    </nz-card>
</div>

<ng-template #coverTemplate>
    <nz-avatar
        [nzSrc]="data.avatar"
        [nzSize]="100"
        [nzIcon]="'user'"
    ></nz-avatar>
</ng-template>
