@import "~ng-devui/styles-var/devui-var.scss";

d-card {
    cursor: pointer;
    transition: box-shadow $devui-animation-duration-slow
            $devui-animation-ease-in-out-smooth,
        transform $devui-animation-duration-slow
            $devui-animation-ease-in-out-smooth;

    &:hover {
        box-shadow: $devui-shadow-length-hover $devui-light-shadow;
        transform: translateY(-5px);
    }
}

.components {
    padding: 20px;

    .list {
        padding: 20px;
        width: 400px;

        .title {
            margin: 12px 0;

            h2 {
                display: inline-block;
                margin: 0 8px 0 0;
                font-size: $devui-font-size-page-title;
            }
        }

        .card-block {
            margin-right: 16px;
        }
    }
}
