@import "styles/devui-vars.scss";

nz-row {
    margin: 20px;
}

.user-card-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-card-subtitle {
    color: $devui-text-weak;
}

.nickname-button {
    color: $devui-text-weak;
    cursor: pointer;
}

.nickname-form-group {
    display: flex;
}

.nickname-form-cancel-button {
    font-size: 15px;
    margin: auto 10px;
}
