<div [class]="'button-container ' + env.sentry.environment">
    <span class="flex-buffer"></span>
    @if (hadUpload) {
        <span
            [class]="
                'spotting-progress-bar ' +
                ($any($uploadPercentage | async) < 100 ? 'uploading' : '')
            "
            nz-tooltip
            [nzTooltipTitle]="
                $any($totalCountIcon | async) -
                countIcon +
                ' of ' +
                ($totalCountIcon | async) +
                ' uploaded'
            "
        >
            @if ($totalCountIcon) {
                <nz-progress
                    class="loading-elem"
                    [nzPercent]="$uploadPercentage | async | number: '1.1-2'"
                    [nzSteps]="$totalCountIcon | async"
                    nzStrokeColor="#1890ff"
                    nzSize="small"
                />
            }
            @if (($uploadPercentage | async) !== 100) {
                <nz-spin nzSimple class="loading-elem" />
            }
        </span>
    }
    <span class="spotting-form-button">
        <button
            nz-button
            nzType="primary"
            (click)="openStandardDialog('standard')"
        >
            Add spotting entry
        </button>
    </span>
</div>
@if (showLoading) {
    <nz-spin class="spinner" nzSimple />
}
<div class="spotting-main-container">
    @if (tabActiveId) {
        <div class="spotting-table-container">
            <nz-tabset
                [nzSelectedIndex]="tabActiveIndex"
                (nzSelectedIndexChange)="activeTabChange($event)"
            >
                @for (item of tabItems; track item) {
                    <nz-tab [nzTitle]="tabTitle">
                        <ng-template nz-tab>
                            <app-vehicle-type-container
                                [lineId]="item.id"
                                [title]="item.detail"
                                [lineStatus]="item.lineStatus"
                            ></app-vehicle-type-container>
                        </ng-template>

                        <ng-template #tabTitle>
                            <span
                                nz-tooltip
                                [nzTooltipTitle]="item.detail"
                                nzTooltipPlacement="topLeft"
                                [nzTooltipArrowPointAtCenter]="true"
                            >
                                {{ item.title }}
                            </span>
                        </ng-template>
                    </nz-tab>
                }
            </nz-tabset>
        </div>
    }
</div>

<ng-template #drawerFooter>
    <div style="float: right">
        <button nz-button style="margin-right: 8px" (click)="close()">
            Cancel
        </button>
        <button nz-button nzType="primary" (click)="submit()">Submit</button>
    </div>
</ng-template>
