<div [class]="'button-container ' + env.sentry.environment">
    <span class="flex-buffer"></span>
    <span
        *ngIf="hadUpload"
        [class]="
            'spotting-progress-bar ' +
            ($any($uploadPercentage | async) < 100 ? 'uploading' : '')
        "
        nz-tooltip
        [nzTooltipTitle]="
            $any($totalCountIcon | async) -
            countIcon +
            ' of ' +
            ($totalCountIcon | async) +
            ' uploaded'
        "
    >
        <nz-progress
            *ngIf="$totalCountIcon"
            class="loading-elem"
            [nzPercent]="$uploadPercentage | async | number: '1.1-2'"
            [nzSteps]="$totalCountIcon | async"
            nzStrokeColor="#1890ff"
            nzSize="small"
        ></nz-progress>
        <nz-spin
            nzSimple
            *ngIf="($uploadPercentage | async) !== 100"
            class="loading-elem"
        ></nz-spin>
    </span>
    <span class="spotting-form-button">
        <button
            nz-button
            nzType="primary"
            (click)="openStandardDialog('standard')"
        >
            Add spotting entry
        </button>
    </span>
</div>
<nz-spin class="spinner" nzSimple *ngIf="showLoading"></nz-spin>
<div class="spotting-main-container">
    <div class="spotting-table-container" *ngIf="tabActiveId">
        <nz-tabset
            [nzSelectedIndex]="tabActiveIndex"
            (nzSelectedIndexChange)="activeTabChange($event)"
        >
            <nz-tab *ngFor="let item of tabItems" [nzTitle]="tabTitle">
                <ng-template nz-tab>
                    <app-vehicle-type-container
                        [lineId]="item.id"
                        [title]="item.detail"
                        [lineStatus]="item.lineStatus"
                    ></app-vehicle-type-container>
                </ng-template>

                <ng-template #tabTitle>
                    <span
                        nz-tooltip
                        [nzTooltipTitle]="item.detail"
                        nzTooltipPlacement="topLeft"
                        [nzTooltipArrowPointAtCenter]="true"
                    >
                        {{ item.title }}
                    </span>
                </ng-template>
            </nz-tab>
        </nz-tabset>
    </div>
</div>

<ng-template #drawerFooter>
    <div style="float: right">
        <button nz-button style="margin-right: 8px" (click)="close()">
            Cancel
        </button>
        <button nz-button nzType="primary" (click)="submit()">Submit</button>
    </div>
</ng-template>
