<nz-list nzBordered nzSize="small">
    <!-- <nz-list-header>Header</nz-list-header> -->
    @for (
        hist of sessionHistoryService.historyStore | async | keyvalue;
        track hist.value
    ) {
        <nz-list-item>
            @if (filter.includes(hist.value["historyType"])) {
                <span class="flex-container">
                    <span class="left">
                        <a
                            href="{{ backendUrl }}admin/spotting/event/{{
                                hist.value['id']
                            }}"
                        >
                            {{ hist.value["id"] }}
                        </a>
                        <span class="require-whitespace"> - </span>
                        {{ hist.value["vehicle"]["name"] }}
                    </span>
                    <span class="right">
                        <nz-space>
                            <spotting-type-tag
                                *nzSpaceItem
                                [spottingType]="hist.value['type']"
                            />
                            <vehicle-status-tag
                                *nzSpaceItem
                                [vehicleStatus]="hist.value['status']"
                            />
                        </nz-space>
                    </span>
                </span>
            }
        </nz-list-item>
    }
    <!-- <nz-list-footer>Footer</nz-list-footer> -->
</nz-list>
