<span [ngSwitch]="spottingType">
    <nz-tag
        nzMode="checkable"
        [nzChecked]="true"
        *ngSwitchCase="'JUST_SPOTTING'"
        [nzColor]="'green'"
    >
        {{ spottingType | spottingType }}
    </nz-tag>
    <nz-tag
        nzMode="checkable"
        [nzChecked]="true"
        *ngSwitchCase="'BETWEEN_STATIONS'"
        [nzColor]="'gold'"
    >
        {{ spottingType | spottingType }}
    </nz-tag>
    <nz-tag
        nzMode="checkable"
        [nzChecked]="true"
        *ngSwitchCase="'AT_STATION'"
        [nzColor]="'gold'"
    >
        {{ spottingType | spottingType }}
    </nz-tag>
    <nz-tag
        nzMode="checkable"
        [nzChecked]="true"
        *ngSwitchCase="'DEPOT'"
        [nzColor]="'lime'"
    >
        {{ spottingType | spottingType }}
    </nz-tag>
    <nz-tag
        nzMode="checkable"
        [nzChecked]="true"
        *ngSwitchCase="'LOCATION'"
        [nzColor]="'purple'"
    >
        {{ spottingType | spottingType }}
    </nz-tag>
    <nz-tag
        nzMode="checkable"
        [nzChecked]="true"
        *ngSwitchDefault
        [nzColor]="'red'"
    >
        {{ spottingType | spottingType }}
    </nz-tag>
</span>
