@switch (spottingType) {
    @case ("JUST_SPOTTING") {
        <nz-tag [nzColor]="'green'">{{ spottingType | spottingType }}</nz-tag>
    }
    @case ("BETWEEN_STATIONS") {
        <nz-tag [nzColor]="'green'">{{ spottingType | spottingType }}</nz-tag>
    }
    @case ("DEPOT") {
        <nz-tag [nzColor]="'yellow'">{{ spottingType | spottingType }}</nz-tag>
    }
    @case ("LOCATION") {
        <nz-tag [nzColor]="'red'">{{ spottingType | spottingType }}</nz-tag>
    }
    @default {
        <nz-tag [nzColor]="'var(--devui-text-weak)'">{{
            spottingType | spottingType
        }}</nz-tag>
    }
}
