@switch (spottingType) {
    @case ("JUST_SPOTTING") {
        <d-tag [tag]="spottingType | spottingType" [labelStyle]="'green-w98'" />
    }
    @case ("BETWEEN_STATIONS") {
        <d-tag [tag]="spottingType | spottingType" [labelStyle]="'green-w98'" />
    }
    @case ("DEPOT") {
        <d-tag
            [tag]="spottingType | spottingType"
            [labelStyle]="'yellow-w98'"
        />
    }
    @case ("LOCATION") {
        <d-tag [tag]="spottingType | spottingType" [labelStyle]="'red-w98'" />
    }
    @default {
        <d-tag
            [tag]="spottingType | spottingType"
            [customColor]="'var(--devui-text-weak)'"
        />
    }
}
