.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 10px 24px 24px 24px;
    min-height: 100vh;
}

nz-footer {
    text-align: center;
}

nz-layout {
    margin-left: 90px;
}

nz-sider {
    overflow: auto;
    height: calc(100% - 110px);
    position: fixed;
    left: 0;
    z-index: 1000;
}

a {
    color: inherit;
}
