<nz-layout>
    <nz-sider
        nzCollapsible
        nzWidth="200px"
        [nzTheme]="($theme | async) ?? 'light'"
    >
        <ul nz-menu nzMode="inline" [nzTheme]="($theme | async) ?? 'light'">
            <li nz-menu-item>
                <span nz-icon nzType="pie-chart"></span>
                <span>Option 1</span>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="desktop"></span>
                <span>Option 2</span>
            </li>
            <li nz-submenu nzTitle="User" nzIcon="user">
                <ul>
                    <li nz-menu-item>Tom</li>
                    <li nz-menu-item>Bill</li>
                    <li nz-menu-item>Alex</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Team" nzIcon="team">
                <ul>
                    <li nz-menu-item>Team 1</li>
                    <li nz-menu-item>Team 2</li>
                </ul>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="file"></span>
                <span>File</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <!-- <nz-header></nz-header> -->
        <nz-content>
            <div class="inner-content">Bill is a cat.</div>
        </nz-content>
        <nz-footer>
            <hr />
            <app-footer></app-footer>
        </nz-footer>
    </nz-layout>
</nz-layout>
