<span (click)="onPictureIconClick()">
    <button
        nz-button
        [nzType]="count === 0 && isMine ? 'text' : 'primary'"
        nzShape="round"
    >
        @if (count > 0) {
            <span
                class="picture-icon"
                nz-icon
                nzType="picture"
                nzTheme="outline"
            ></span>
            {{ count }}
            @if (isMine) {
                <span>+</span>
            }
        }
        @if (count === 0 && isMine) {
            <span nz-icon nzType="plus" nzTheme="outline"></span>
        }
    </button>
</span>

<ng-template #drawerFooter>
    <div style="float: right">
        <button nz-button style="margin-right: 8px" (click)="close()">
            Cancel
        </button>
        <button nz-button nzType="primary" (click)="submit()">Upload</button>
    </div>
</ng-template>
