<d-panel
    #ghostPanel
    [type]="'ghost'"
    [isCollapsed]="isCollapsed"
    [hasLeftPadding]="false"
    (toggle)="toggle($event)"
    class="panel"
>
    <d-panel-header
        dTooltip
        [content]="!isCollapsed ? 'Click this panel to expand' : ''"
        [mouseEnterDelay]="1000"
    >
        <h1 class="spotting-table-title">
            <span class="table-title-display-text">
                {{ dataSource.displayName }}
            </span>

            <span *ngIf="!isCollapsed">
                <span dTooltip [content]="'Total'" [position]="'bottom'">
                    <d-tag
                        [tag]="
                            'Total: ' +
                            dataSource.vehicleStatusCount.vehicleTotalCount.toString()
                        "
                        [customColor]="'var(--devui-primary)'"
                    >
                    </d-tag>
                </span>

                |

                @for (elem of tagListDisplayConfig; track elem) {
                    <span
                        dTooltip
                        [content]="
                            (
                                (dataSource.vehicleStatusCount[elem.key] /
                                    dataSource.vehicleStatusCount
                                        .vehicleTotalCount) *
                                100
                            ).toPrecision(3) + '%'
                        "
                        [position]="'bottom'"
                    >
                        <d-tag
                            [tag]="
                                elem.displayPrefix +
                                ': ' +
                                dataSource.vehicleStatusCount[
                                    elem.key
                                ].toString()
                            "
                            [labelStyle]="elem.labelStyle ?? ''"
                            [customColor]="elem.customColor ?? ''"
                            class="status-icon"
                        >
                        </d-tag>
                    </span>
                }
            </span>
        </h1>
    </d-panel-header>
    <d-panel-body>
        <div class="chips">
            <span dTooltip [content]="'Total'" [position]="'bottom'">
                <d-tag
                    [tag]="
                        'Total: ' +
                        dataSource.vehicleStatusCount.vehicleTotalCount.toString()
                    "
                    [mode]="!totalChecked ? 'checkable' : 'default'"
                    [customColor]="'var(--devui-primary)'"
                    [(checked)]="totalChecked"
                    (checkedChange)="changeChecked($event, 'total')"
                >
                </d-tag>
            </span>

            |

            @for (elem of tagListDisplayConfig; track elem) {
                <span
                    dTooltip
                    [content]="
                        (
                            (dataSource.vehicleStatusCount[elem.key] /
                                dataSource.vehicleStatusCount
                                    .vehicleTotalCount) *
                            100
                        ).toPrecision(3) + '%'
                    "
                    [position]="'bottom'"
                >
                    <d-tag
                        [tag]="
                            elem.displayPrefix +
                            ': ' +
                            dataSource.vehicleStatusCount[elem.key].toString()
                        "
                        [mode]="'checkable'"
                        [labelStyle]="elem.labelStyle ?? ''"
                        [customColor]="elem.customColor ?? ''"
                        class="status-icon"
                        [(checked)]="elem.checked"
                        (checkedChange)="changeChecked($event, elem.status)"
                    >
                    </d-tag>
                </span>
            }
        </div>
        <d-data-table
            [dataSource]="dataSource.tableData"
            [scrollable]="true"
            [tableOverflowType]="'overlay'"
            [tableWidthConfig]="tableWidthConfig"
        >
            <thead dTableHead>
                <tr dTableRow>
                    <th dHeadCell></th>
                    @for (
                        colOption of dataTableOptions.columns;
                        track colOption.header
                    ) {
                        <th dHeadCell>
                            {{ colOption.header }}
                        </th>
                    }
                </tr>
            </thead>
            <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <tr
                        dTableRow
                        *ngIf="
                            totalChecked || allowedStatuses.has(rowItem.status)
                        "
                    >
                        <td
                            dTableCell
                            [ngClass]="
                                rowItem.$expandConfig.expandable
                                    ? 'cursor-pointer'
                                    : ''
                            "
                            (click)="toggleExpand(rowItem)"
                        >
                            @if (rowItem.$expandConfig.expandable) {
                                <span class="expand-icon">
                                    <span
                                        [class]="
                                            rowItem.$expandConfig?.expand
                                                ? 'icon-chevron-down'
                                                : 'icon-chevron-right'
                                        "
                                    ></span>
                                </span>
                            }
                        </td>
                        @for (
                            colOption of dataTableOptions.columns;
                            track colOption
                        ) {
                            <td dTableCell>
                                @switch (colOption.fieldType) {
                                    @case ("status") {
                                        <vehicle-status-tag
                                            [vehicleStatus]="
                                                rowItem[colOption.field]
                                            "
                                        />
                                    }

                                    @case ("wheelStatus") {
                                        <wheel-status-tag
                                            [wheelStatus]="
                                                rowItem[colOption.field]
                                            "
                                        />
                                    }

                                    @case ("id") {
                                        {{ rowItem[colOption.field] }}
                                        @if (rowItem.nickname) {
                                            <span class="nickname">
                                                <br />
                                                {{ rowItem.nickname }}
                                            </span>
                                        }
                                    }

                                    @default {
                                        {{ rowItem[colOption.field] }}
                                    }
                                }
                            </td>
                        }
                    </tr>

                    <tr
                        dTableRow
                        class="expand-row"
                        *ngIf="
                            (totalChecked ||
                                allowedStatuses.has(rowItem.status)) &&
                            rowItem.$expandConfig?.expand
                        "
                    >
                        <td dTableCell [attr.colspan]="tableWidthConfig.length">
                            @if (rowItem.incidentCount > 0) {
                                <app-inline-timeline
                                    class="inline-timeline"
                                    [vehicleId]="rowItem.id"
                                />
                            }
                            @if (rowItem.timesSpotted > 0) {
                                <app-inline-history
                                    class="inline-history"
                                    [vehicleId]="rowItem.id"
                                />
                            }
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </d-data-table>
    </d-panel-body>
    <d-panel-footer></d-panel-footer>
</d-panel>
