@import "~ng-devui/styles-var/devui-var.scss";

.spotting-table-title {
    font-size: $devui-font-size-page-title;

    .table-title-display-text {
        margin-right: 80px;
    }
}

.status-icon {
    margin-left: 2px;
    margin-right: 2px;
}

.cursor-pointer {
    vertical-align: middle;
    cursor: pointer;
}

.inline-history {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    display: block;
}

.nickname {
    font-size: $devui-font-size-sm;
    font-style: italic;
}
