@import "ng-devui/styles-var/devui-var.scss";

.panel {
    margin-left: 20px;
    margin-right: 20px;
}

.spotting-table-title {
    font-size: $devui-font-size-page-title;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    .table-title-display-text {
        margin-right: 80px;
    }
}

.status-icon {
    margin-left: 2px;
    margin-right: 2px;
}

.cursor-pointer {
    vertical-align: middle;
    cursor: pointer;
}

.inline-history {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    display: block;
}

.inline-timeline {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

.nickname {
    font-size: $devui-font-size-sm;
    font-style: italic;
}

d-panel-body {
    overflow: hidden;
}

.chips {
    margin-top: -15px;
    margin-bottom: 30px;
}
