<h1 *ngIf="calendarMode === 'month'">
    {{ selectedDate | date : "MMM dd, yyyy (EEE)" }}
</h1>
<h1 *ngIf="calendarMode === 'year'">
    {{ selectedDate | date : "MMM yyyy" }}
</h1>
<nz-spin [nzSpinning]="showLoading">
    <nz-list *ngIf="data.length >= 0" nzItemLayout="vertical">
        <nz-list-item *ngFor="let item of data">
            <insiden-event-card [data]="item"></insiden-event-card>
        </nz-list-item>
    </nz-list>
    <nz-empty *ngIf="data.length === 0 && !showLoading"></nz-empty>
</nz-spin>
